<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <style>
      .withdrawal-button {
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    line-height: inherit;
    padding: 8px 16px;
    font-size: 1.1rem;
    transition: all 0.5s ease-in-out;
    background-color: #24095d;
    color: #fff;
    display: block;
    font-size: 1rem;
  }

  .withdrawal-button:hover {
    background-color: #5622c5 !important;
    color: #fff !important;
    cursor: pointer;
  }
      @media (max-width: 768px) {
        .custom_mg{
margin-bottom: 20px;

        }
  .custom_p{
  padding: 10px !important;
}
      }
      
    </style>
  </head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <header class="main-header">
        <!-- header-->
        <%- include('../layouts/header') %>
       <!-- Add this to your HTML head or a separate CSS file -->


      </header>

      <aside class="main-sidebar" style="border-right: 1px solid #cbcbcb">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <div
        class="content-wrapper bg-white"
        style="border-radius: 0; border-top: 1px solid #cbcbcb"
      >
        <div class="container mt-30">
          <img
            src="/images/header/Withdrawal_request_Web.png"
            alt="refaral"
            srcset=""
          />
          <section class="content">
            <div class="col-12 col-md-10 offset-md-1">
              <div class="mt-20" style="border: 1px solid #cbcbcb">
                <div class="card-body">
                  <!-- content herwe -->
                  <div class="row">
                    <div class="col-lg-6 col-12">
                      <form
                        class="rform__modified"
                        action="/user/withdrawal"
                        method="post"
                        onsubmit="return validateForm()"
                      >
                        <div class="form-group mb-20">
                          <div
                            class="d-md-flex justify-content-between align-items-center"
                          >
                           <div class="col-12 col-md-7 custom_mg">
                              <input
                                type="number"
                                name="authCode"
                                class="form-control ps-15 p-10"
                                placeholder="Enter 2FA"
                                id="authCode"
                                onblur="checkAuthCodeValidity()"
                                required
                              />
                              <span
                                id="authCodeError"
                                style="color: red; display: none"
                              ></span>
                            </div>
                            <div>
                              <span
                                class="btn btn bg-gradient-info-dark"
                                id="generateCodeBtn"
                                >
                                <span id="authCodeSpinner" class="spinner-border spinner-border-sm" style="display: none;"></span>
                                Generate Code</span
                              >
                            </div>
                          </div>
                        </div>

                        <div class="input-group mb-20">
                          <span class="input-group-addon">$</span>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="min amount is $10"
                            id="amount"
                            min="10"
                            name="amount"
                            required
                          />
                        </div>
                        <span
                          id="amountError"
                          style="color: red; display: none"
                        ></span>
                        <div class="input-group mb-20">
                          <select
                            class="form-control"
                            style="width: 100%"
                            tabindex="-1"
                            aria-hidden="true"
                            name="method"
                            id="method"
                            required
                            onchange="checkFormValidity()"
                          >
                            <option value="" selected disabled>
                              Select Wallet Type
                            </option>
                            <option value="BTC" data-icon="BTC">Bitcoin</option>
                            <option value="ETH" data-icon="ETH">
                              Ethereum
                            </option>
                            <option value="USDT" data-icon="USDT">
                              Tether USD TRC20
                            </option>
                          </select>
                          <span
                            id="methodError"
                            style="color: red; display: none"
                          ></span>
                        </div>
                        <div class="form-group mb-20">
                          <input
                            type="text"
                            name="walletAddress"
                            class="form-control ps-15 p-10"
                            placeholder="Wallet Address"
                            id="walletAddress"
                            title="Please enter a valid wallet address"
                            required
                          />
                          <span
                            id="walletAddressError"
                            style="color: red; display: none"
                          ></span>
                        </div>

                        <div class="mt-10">
                          
<button type="submit" class="btn btn bg-gradient-info-dark custom_mg">
  <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
  Make Withdrawal
</button>

                        </div>
                      </form>
                    </div>
                    <div class="col-lg-6 col-12">
                      <div class="card custom_p  text-center " style="padding: 100px;">
                        <div>
                          <h4>Account Balance</h4>
                          <h1>
                            $<%= totalForWithdrawals ?
                            totalForWithdrawals.toLocaleString() : '0' %>
                          </h1>
                        </div>
                      </div>
                      <!-- end card-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <footer class="main-footer bg-white">
        <!-- footer-->
        <%- include('../layouts/footer') %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
          // Event handler for the "Generate Code" button
         
  document
    .getElementById('generateCodeBtn')
    .addEventListener('click', function () {
      // Show the spinner for auth code
      document.getElementById('authCodeSpinner').style.display = 'inline-block';

      // Retrieve the value from the 2FA input field
      var twoFactorValue = document.getElementById('authCode').value;

      // Make a POST request to the "user/2factor" endpoint
      axios
        .post('/user/two-factor', { twoFactorValue })
        .then(function (response) {
          // Handle the response from the server
          console.log(response.data);
          // Hide the spinner for auth code
          document.getElementById('authCodeSpinner').style.display = 'none';
          // Perform any necessary actions based on the response
        })
        .catch(function (error) {
          // Handle errors
          console.error(error);
          // Hide the spinner for auth code
          document.getElementById('authCodeSpinner').style.display = 'none';
        });
    });
        
            $('form').on('submit', function (event) {
  event.preventDefault();

  // Show the spinner
  $('#spinner').show();

  var formData = $(this).serialize();

  $.ajax({
    type: 'POST',
    url: '/user/withdrawal',
    data: formData,
    success: function (response) {
      // Hide the spinner
      $('#spinner').hide();

      // Handle successful response
      window.location.href = response.redirectUrl;
    },
    error: function (xhr, status, error) {
      // Hide the spinner
      $('#spinner').hide();
                // Handle error response
                var errorMessage = xhr.responseText;

                // Hide all error messages
                $('#authCodeError').hide();
                $('#amountError').hide();
                $('#methodError').hide();
                $('#walletAddressError').hide();

                switch (errorMessage) {
                  case 'Missing required information.':
                    // Show error on all fields
                    $('#authCodeError').text('Required').show();
                    $('#amountError').text('Required').show();
                    $('#methodError').text('Required').show();
                    $('#walletAddressError').text('Required').show();
                    break;
                  case 'Invalid user or authentication record.':
                    // Show error on authentication field
                    $('#authCodeError')
                      .text('Invalid user or authentication record')
                      .show();
                    break;
                  case 'Authentication code is empty.':
                    // Show error on authentication field
                    $('#authCodeError')
                      .text('Authentication code is empty')
                      .show();
                    break;
                  case 'Invalid authentication code.':
                    // Show error on authentication field
                    $('#authCodeError')
                      .text('Invalid authentication code')
                      .show();
                    break;
                  case 'Insufficient balance.':
                    // Show error on amount field
                    $('#amountError').text('Insufficient balance').show();
                    break;
                  default:
                    // Show general error
                    alert('An error occurred: ' + errorMessage);
                    break;
                }
              },
            });
          });
        </script>
      </footer>
    </div>
  </body>
</html>
