<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from investx-admin-template.multipurposethemes.com/New_InvestX-main-files/html/template/vertical-light/main/extra_profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2023 23:01:32 GMT -->
  <head>
    <%- include('layouts/head') %>
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('layouts/header') %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
        

          	<!-- Main content -->
		<section class="content">
			<div class="row">
				

				<div class="col-xl-6 col-lg-7">
					<div class="card">
						<div class="card-body">
							
						

								<div class="tab-pane" id="settings">
									<form>
										<h5 class="mb-4 text-uppercase">
                  
Please provide your Current Password to update your password
</h5>
										<div class="row">
											<div class="col-md-12">
												<div class="mb-3">
													<label for="currentpassword" class="form-label">Current Password</label>
													<input type="password" class="form-control" id="firstname" placeholder="Current Password">
												</div>
											</div>
											<div class="col-md-12">
												<div class="mb-3">
													<label for="newpassword" class="form-label">New Password</label>
													<input type="password" class="form-control" id="lastname" placeholder="New Password">
												</div>
											</div> <!-- end col -->

											<div class="col-md-12">
												<div class="mb-3">
													<label for="confirmpassword" class="form-label">Confirm New Password</label>
													<input type="password" class="form-control" id="lastname" placeholder="Confirm New Password">
												</div>
											</div> <!-- end col -->
										</div> <!-- end row -->



										<div class="text-end">
											<button type="submit" class="btn btn-primary mt-2"><i class="mdi mdi-content-save"></i> Update Password</button>
										</div>
									</form>
								</div>
								<!-- end settings content-->

						
						</div> <!-- end card body -->
					</div> <!-- end card -->
				</div> <!-- end col -->
			</div>
			<!-- end row-->

		</section>
		<!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer -->
        <%- include('layouts/footer') %>
      </footer>
      
    <!-- Vendor JS -->
    <%- include('layouts/script') %>
  </body>
  <script src="/js/bundle.js"></script>
  <!-- Mirrored from investx-admin-template.multipurposethemes.com/New_InvestX-main-files/html/template/vertical-light/main/extra_profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2023 23:01:34 GMT -->
</html>
