<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head') %>
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <header class="main-header">
        <!-- header -->
        <%- include('layouts/header') %>
      </header>

      <aside class="main-sidebar">
        <!-- sidebar -->
        <%- include('layouts/aside') %>
      </aside>

      <div class="content-wrapper">
        <div class="container-full">
          <section class="content">
            <div class="row">
              <div class="col-xl-6 col-lg-7">
                <div class="card">
                  <div class="card-body">
                    <div class="tab-pane" id="settings">
                      <form class="change__password">
                        <h5 class="mb-4 text-uppercase">
                          Please provide your Current Password to update your
                          password
                        </h5>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="mb-3">
                              <label for="currentpassword" class="form-label"
                                >Current Password</label
                              >
                              <input
                                type="password"
                                class="form-control"
                                id="currentpassword"
                                name="currentPassword"
                                placeholder="Current Password"
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="mb-3">
                              <label for="newpassword" class="form-label"
                                >New Password</label
                              >
                              <input
                                type="password"
                                class="form-control"
                                id="newpassword"
                                name="newPassword"
                                placeholder="New Password"
                              />
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="mb-3">
                              <label for="confirmpassword" class="form-label"
                                >Confirm New Password</label
                              >
                              <input
                                type="password"
                                class="form-control"
                                id="confirmpassword"
                                name="newPasswordConfirm"
                                placeholder="Confirm New Password"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="text-end">
                          <button
                            type="submit"
                            class="btn btn-primary mt-2 bg-gradient-warning"
                          >
                            <i class="mdi mdi-content-save"></i> Update Password
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <footer class="main-footer">
        <!-- footer -->
        <!-- <%- include('layouts/footer') %> -->
      </footer>

      <!-- Vendor JS -->
      <!-- <%- include('layouts/script') %> -->
    </div>
  </body>
</html>
