<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
     <meta
   http-equiv="Content-Security-Policy"
   content="default-src *; script-src 'unsafe-inline' * 'self'; style-src 'unsafe-inline' * 'self'; img-src * data: 'self'; font-src * data: 'self';"
 />



    <!-- head and meta-->
    <title><%=title%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>;

<style>
.icon__custom{
    color: #f89f1e; 
    font-size: 40px;
    background: #ffffff;
    border-radius: 60%;
    height: 60px;
    width: 60px;
    text-align: center;
    padding-top: 26px;
}
.icon__img{
    height: 60px;
    width: 60px;
    background-color: #f89f1e;
    border-radius: 60px;
    padding: 4px;
}
.icon__img_r{
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 60px;
    padding: 4px;
}
.icon__img_rx{
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 4px;
}
.icon__img_ru{
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 4px;
}
#donutChart {
  width: 150px; /* Change to a fixed width temporarily */
  height: 150px; /* Change to a fixed height temporarily */
}


</style>
  </head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header-->
        <%- include('layouts/header') %>
      </header>

      <aside class="main-sidebar" style="border-right: 1px solid #cbcbcb">
        <!-- sidebar-->
        <%- include('layouts/aside') %>
      </aside>

      <div
        class="content-wrapper"
        style="border-radius: 0; border-top: 1px solid #cbcbcb"
      >
        <div class="container-full">
          <!-- Main content -->
          <section class="content">
            <div class="row">
              <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
                <div class="box mb-15">
                  <div class="box-body " style="height: 160px; background-color: #0202a2;">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <h4 class="fw-500 text-white">Active Portfolio</h4>
                    </div>
                    <div class="row align-items-center mt-10">
                       <div class="col-8">

                         <% let activePortfoliosCount = 0; %>
                          <!-- Initialize a variable to keep track of the count -->

                          <% portfolioData.forEach(function(portfolio) { %> <% if
                          (portfolio.status === 'active') { %> <%
                          activePortfoliosCount++; %>
                        
                          <% } %> <% }) %>

                          <h3 class="m-0 fw-600">
                           
                          </h3>
                        <h1 class="m-0 fw-600 text-white" style="font-size: 2.5rem;"> <%= activePortfoliosCount %></h1>
                        
                      </div>

                      <div class="col-4">
                       <i class="fa-solid fa-chart-simple fa-2xl icon__custom"></i>
                      </div>
                 
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
                <div class="box mb-15">
                  <div class="box-body " style="height: 160px;">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <h4 class="fw-500">Compounding Dividends</h4>
                    </div>
                    <div class="row align-items-center mt-10">
                      <div class="col-8">

                           <% let totlaCompBalance = 0; %> <%
                          portfolioData.forEach(function(portfolio) { %> <%
                          totlaCompBalance += portfolio.compBalance %>
                              <% }) %>
                         <h1 class="m-0 fw-600" style="font-size: 2.5rem; color:  #f89f1e;"> $ <%= totlaCompBalance.toLocaleString()%></h1>
                      </div>

                      <div class="col-4">
                       <img src="images/icons/wallet.png" class="icon__img" alt="Compounding" srcset="">
                      </div>
                  
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
                <div class="box mb-15 ">
                  <div class="box-body" style="height: 160px;  background-color: #f89f1e;">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <h4 class="fw-500">Referral commission history</h4>
                    </div>
                    <div class="row align-items-center mt-10">
                      <div class="col-8">
                       <h1 class="m-0 fw-600 text-white" style="font-size: 2.5rem;">$ <%= totalBonus %></h1>
                      </div>
                      <div class="col-4">
                        <img src="images/icons/transaction.png" class="icon__img_r" alt="commission" srcset="">
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
                <div class="box mb-15">
                  <div class="box-body" style="height: 160px">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <h4 class="fw-500">Accumulated Dividends</h4>
                    </div>
                    <div class="row align-items-center mt-10">
                      <div class="col-8">
    <% let totalAmount = 0; %>
<% portfolioData.forEach(function(portfolio) { %>
  <% totalAmount += portfolio.compBalance + portfolio.balance %>
<% }) %>
<h1 class="m-0 fw-600" style="font-size: 2.5rem; color: #f89f1e;">
  $<%= totalAmount.toLocaleString() %>
</h1>

                      </div>
                      <div class="col-4">
                       
                          <img src="images/icons/cash_money.png" class="icon__img_rx" alt="commission" srcset="">
                      
                     
                    </div>
                  </div>
                </div>
              </div>
              </div> 

              <div class="col-xl-9 col-lg-10">
              
                <div class="box mb-15">
                  <h4 class="fw-500 p-20 pb-10">Wallet Overview</h4>
                  <div class="box-body" style="height: 370px">
                        <div class="row align-items-center">
  <div class="col-6">
                        <div id="walletOverview" style="width: 100%; height: 180px;"></div>
                      </div>
                      <div class="col-6">
                       
  <div id="financialOverview" style="width: 95%; height: 180px;"></div>

                      </div>
</div>



                  </div>
                   
                </div>

              </div>
              <div class="col-xl-3 col-lg-4">
                <div class="box mb-15 ">
                  <div class="box-body" style="height: 160px">
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <h4 class="fw-500">Total referral Members</h4>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-6 mb-50">
                         <h1 class="m-0 fw-600" style="font-size: 2.5rem; color: #f89f1e;"><%= referredUsersCount %></h1>
                      </div>
                      <div class="col-6">
                        <div id="donutChart"></div>

                      </div>
                    
                    </div>
                  </div>
                </div>
                <div
                  class="box "
                  style="height: 254px; position: relative"
                >
                  <div class="box-header with-border text-center">
                    <h4 class="fw-500">Account Balance</h4>
                  </div>
                  <div class="box-body p-0">
                    <div class="text-center">
                      <div id="balanceChart" style="width: 250px;  margin: auto;"> </div>
                         <% let totalBalance = 0; %>
<% portfolioData.forEach(function(portfolio) { %>
  <% totalBalance += portfolio.balance %>
<% }) %>
<h1 class="m-0 fw-600" style="font-size: 2.5rem; color: #f89f1e;">
  $ <%= totalBalance.toLocaleString() %>
</h1>
                     
                      <div class="mt-10 mt-md-0">
                   
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>

          
          </section>
     
        </div>
      </div>
    </div>





     <script type="module" src="/js/lineChart.js"></script>
     <script type="module" src="/js/barchart.js"></script>
     <script type="module" src="/js/piechart.js"></script>
     <script type="module" src="/js/donutchart.js"></script>

    <%- include('layouts/script') %>
  </body>
</html>
