<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from investx-admin-template.multipurposethemes.com/New_InvestX-main-files/html/template/vertical-light/main/extra_profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2023 23:01:32 GMT -->
  <head>
    <%- include('layouts/head') %>
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('layouts/header') %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="d-flex align-items-center">
              <div class="me-auto">
                <h4 class="page-title">Profile</h4>
                <div class="d-inline-block align-items-center">
                  <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#"><i class="mdi mdi-home-outline"></i></a>
                      </li>
                      <li class="breadcrumb-item" aria-current="page">Extra</li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Profile
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          <!-- Main content -->
          <section class="content">
            <div class="row">
              <div class="col-xl-12 col-lg-5">
                <div class="card text-center">
                  <div class="card-body">
                    <img
                      src="../../../images/avatar/avatar-13.png"
                      class="bg-light w-100 h-100 rounded-circle avatar-lg img-thumbnail"
                      alt="profile-image"
                    />

                    <h4 class="mb-0 mt-2">Nil Yeager</h4>
                    <p class="text-muted fs-14">Manager</p>

                    <div class="text-start mt-3">
                      <p class="header-title mb-2">
                        <strong>About Me :</strong>
                      </p>
                      <p class="text-muted mb-3">
                        Hi I'm Nil Yeager,has been the industry's standard dummy
                        text ever since the 1500s, when an unknown printer took
                        a galley of type.
                      </p>
                      <p class="text-muted mb-2">
                        <strong class="text-dark">Full Name :</strong>
                        <span class="ms-2">Nil Yeager</span>
                      </p>

                      <p class="text-muted mb-2">
                        <strong class="text-dark">Mobile :</strong
                        ><span class="ms-2">(123)123 1234</span>
                      </p>

                      <p class="text-muted mb-2">
                        <strong class="text-dark">Email :</strong>
                        <span class="ms-2">user@email.domain</span>
                      </p>

                      <p class="text-muted mb-1">
                        <strong class="text-dark">Location :</strong>
                        <span class="ms-2">USA</span>
                      </p>
                    </div>

                    <ul class="social-list list-inline mt-3 mb-0">
                      <li class="list-inline-item">
                        <a
                          href="javascript: void(0);"
                          class="waves-effect waves-circle btn btn-social-icon btn-circle btn-facebook-light"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a
                          href="javascript: void(0);"
                          class="waves-effect waves-circle btn btn-social-icon btn-circle btn-twitter-light"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a
                          href="javascript: void(0);"
                          class="waves-effect waves-circle btn btn-social-icon btn-circle btn-google-light"
                          ><i class="fa fa-google"></i
                        ></a>
                      </li>
                      <li class="list-inline-item">
                        <a
                          href="javascript: void(0);"
                          class="waves-effect waves-circle btn btn-social-icon btn-circle btn-instagram-light"
                          ><i class="fa fa-instagram"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <!-- end card-body -->
                </div>
                <!-- end card -->
              </div>
              <!-- end col-->

              <!-- end col -->
            </div>
            <!-- end row-->
          </section>
          <!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer -->
        <%- include('layouts/footer') %>
      </footer>
      <!-- Side panel -->
      <!-- quick_user_toggle -->
      <div class="modal modal-right fade" id="quick_user_toggle" tabindex="-1">
        <!-- user proile icon -->
        <%- include('layouts/right') %>
      </div>
      <!-- /quick_user_toggle -->

      <!-- Control Sidebar -->
      <%- include('layouts/sidebar') %>

      <!-- /.control-sidebar -->

      <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <!-- Chat section -->

    <!-- Chat section -->

    <!-- Page Content overlay -->

    <!-- Vendor JS -->
    <%- include('layouts/script') %>
  </body>

  <!-- Mirrored from investx-admin-template.multipurposethemes.com/New_InvestX-main-files/html/template/vertical-light/main/extra_profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2023 23:01:34 GMT -->
</html>
