<!DOCTYPE html>
<html lang="en">
  <head>
 
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('../layouts/header') %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <!-- Main content -->
          <section class="content">
            <div class="row">
              <div class="col-xl-6 col-lg-6">
                <div class="card text-center">
                  <div class="card-body">
                    <img
                      id="profileImagePreview"
                      src="<%= userProfile.profilePicture ? '/profile/' + userProfile.profilePicture : '../../../images/avatar/avatar-13.png' %>"
                      class="bg-light w-100 h-100 rounded-circle avatar-lg img-thumbnail"
                      alt="profile-image"
                    />

                    <h4 class="mb-0 mt-2"></h4>
                    <p class="text-muted fs-14"></p>

                    <button
                      type="button"
                      class="btn btn-primary btn-sm mb-2"
                      onclick="document.getElementById('profilePicture').click()"
                    >
                      Upload Photo
                    </button>

                    <div class="text-start mt-3">
                      <p class="text-muted mb-2">
                        <strong class="text-dark">Full Name :</strong>
                        <span class="ms-2"><%= userProfile.fullName %></span>
                      </p>
                      <p class="text-muted mb-2">
                        <strong class="text-dark">Mobile :</strong>
                        <span class="ms-2"><%= userProfile.phoneNumber %></span>
                      </p>
                      <p class="text-muted mb-2">
                        <strong class="text-dark">Email :</strong>
                        <span class="ms-2"><%= userProfile.email %></span> <!-- Assuming the email is present in the userProfile object -->
                      </p>
                      <p class="text-muted mb-2">
                        <strong class="text-dark">Referral Link :</strong>
                        <span id="referralLink" class="ms-2"><%= url %>/<%=userProfile.referralCode %></span>
                        <i class="copy-icon far fa-copy ms-1" onclick="copyReferralLink()"></i>
                      </p>
                      <p class="text-muted mb-2">
                        <strong class="text-dark">Referral code :</strong>
                        <span id="referralCode" class="ms-2"><%=userProfile.referralCode %></span>
                        <i class="copy-icon far fa-copy ms-1" onclick="copyReferralCode()"></i>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <form enctype="multipart/form-data" action="/user/profile/update/<%=userProfile._id %>" method="POST">
                      <h5 class="mb-4 text-uppercase">
                        <i class="mdi mdi-account-circle me-1"></i> Personal Information
                      </h5>

                      <div class="col-md-12">
                        <div class="mb-3">
                          <label for="fullName" class="form-label">Full Name</label>
                          <input type="text" class="form-control" id="fullName" value="<%= userProfile.fullName %>" name="fullName" />
                        </div>
                      </div>

                      <!-- end row -->

                      <div class="col-md-12">
                        <div class="mb-3">
                          <label for="useremail" class="form-label">Email Address</label>
                          <input type="email" class="form-control" id="useremail" value="<%= userProfile.email %>" disabled />
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="mb-3">
                          <label for="phoneNumber" class="form-label">Phone Number</label>
                          <input type="number" class="form-control" id="phoneNumber" value="<%= userProfile.phoneNumber %>" name="phoneNumber" />
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="mb-3">
                          <label for="street" class="form-label">Street</label>
                          <input type="text" class="form-control" id="street" value="<%= userProfile.street %>" name="street" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" value="<%= userProfile.city %>" name="city" />
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="state" class="form-label">State</label>
                            <input type="text" class="form-control" id="state" value="<%= userProfile.state %>" name="state" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country" value="<%= userProfile.country %>" name="country" />
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                            <select class="form-select" id="role" name="role">
                              <option value="" disabled selected>Select a role</option>
                              <option value="personal" <%= userProfile.role === "personal" ? "selected" : "" %>>Personal</option>
                              <option value="business" <%= userProfile.role === "business" ? "selected" : "" %>>Business</option>
                              <option value="admin" <%= userProfile.role === "admin" ? "selected" : "" %>>Admin</option>
                              <option value="moderator" <%= userProfile.role === "moderator" ? "selected" : "" %>>Moderator</option>
                            </select>
                          </div>
                        </div>


                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="zipCode" class="form-label">Zip Code</label>
                            <input type="text" class="form-control" id="zipCode" value="<%= userProfile.zip %>" name="zipCode" />
                          </div>
                        </div>
                      </div>

                      <input type="file" id="profilePicture" name="profilePicture" style="display: none" onchange="previewProfileImage(event)" />

                      <!-- end row -->

                      <div class="text-start">
                        <button type="submit" class="btn btn-primary mt-2 bg-gradient-warning">
                          <i class="mdi mdi-content-save"></i> Update Profile
                        </button>
                      </div>
                    </form>

                    <!-- end settings content-->
                  </div>
                  <!-- end card body -->
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </section>
          <!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->
      
      
      <script>
        function handleFileSelection(event) {
          const fileInput = event.target;
          const file = fileInput.files[0];
          const button = document.getElementById('uploadButton');
          if (button) {
            if (file) {
              button.textContent = `Selected: ${file.name}`;
            } else {
              button.textContent = 'Upload Photo';
            }
          }
        }
        
        const fileInput = document.getElementById('profilePicture');
        fileInput.addEventListener('change', handleFileSelection);
        
        function previewProfileImage(event) {
          const reader = new FileReader();
          reader.onload = function () {
            const previewImage = document.getElementById('profileImagePreview');
            previewImage.src = reader.result;
          };
          if (event.target.files && event.target.files[0]) {
            reader.readAsDataURL(event.target.files[0]);
          } else {
            const previewImage = document.getElementById('profileImagePreview');
            previewImage.src = '../../../images/avatar/avatar-13.png'; // Default image URL
          }
        }
        
        function copyReferralLink() {
          const referralLink = document.getElementById('referralLink');
          const range = document.createRange();
          range.selectNode(referralLink);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
          document.execCommand('copy');
          window.getSelection().removeAllRanges();
        }
        
        function copyReferralCode() {
          const referralLink = document.getElementById('referralCode');
          const range = document.createRange();
          range.selectNode(referralLink);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
          document.execCommand('copy');
          window.getSelection().removeAllRanges();
        }
        </script>


      <footer class="main-footer">
        <!-- footer -->
        <%- include('../layouts/footer') %>
      </footer>
    </body>
</html>
