<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head') %>
  </head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header-->
        <%- include('../layouts/header') %>
      </header>

      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <section class="content">
            <h2><%= message%></h2>
          </section>
        </div>
      </div>
      <footer class="main-footer">
        <!-- footer-->
        <%- include('../layouts/footer') %>
      </footer>
      <!-- Side panel -->
      <!-- quick_user_toggle -->
      <div class="modal modal-right fade" id="quick_user_toggle" tabindex="-1">
        <!-- user profile -->
        <%- include('../layouts/right') %>
      </div>
      <!-- /quick_user_toggle -->

      <!-- Control Sidebar -->
      <%- include('../layouts/sidebar') %>
      <script src="js/pages/data-table.js"></script>
      <!-- Vendor JS -->
      <script src="/js/vendors.min.js"></script>
      <script src="/js/pages/chat-popup.js"></script>
      <script src="/assets/icons/feather-icons/feather.min.js"></script>
      <script src="/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>

      <!-- InvestX App -->
      <script src="js/demo.js"></script>
      <script src="/js/template.js"></script>
      <script src="/js/pages/dashboard.js"></script>

      <script src="js/pages/chart-widgets.js"></script>
      <!-- JavaScript code for deleting a portfolio -->
    </div>
  </body>
</html>
