<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=portfolio.portfolioTitle%></title>
    <%- include('../../layouts/head') %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
    />

    <style>
      .buy-button {
        background-color: #ffc107 !important; /* Yellow color */
        color: #ffffff !important; /* Text color */
      }

      .buy-button:disabled,
      .buy-button[disabled] {
        opacity: 0.5 !important; /* Reduced opacity for disabled state */
        cursor: not-allowed; /* Disable pointer events */
        background-color: #c0c0c0 !important; /* Gray color */
      }
    </style>
  </head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('../../layouts/header') %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <!-- Main content -->
          <section class="content">
            <div class="row">
              <div class="col-xl-8 col-12">
                <div class="box">
                  <div class="box-body pb-lg-0">
                    <div class="row">
                      <div class="col-xl-6 col-12">
                        <div class="card-body">
                          <h5 class="card-title fw-600">
                            <%=portfolio.portfolioTitle%>
                          </h5>
                          <p class="card-text text-gray-600">
                            <%=portfolio.description%>
                          </p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <h5>Minimum Capital:</h5>
                            <%= portfolio.minimumCapital %>
                          </li>
                          <li class="list-group-item">
                            <h5>Return On Investment:</h5>
                            <%= portfolio.returnOnInvestment.rioPText %>
                          </li>
                          <li class="list-group-item">
                            <h5>Portfolio Duration:</h5>
                            <%= portfolio.duration %>
                          </li>
                        </ul>
                      </div>
                      <div class="col-xl-6 col-12">
                        <!-- ... -->
                        <form
                          action="/portfolio/buy-portfolio/<%=portfolio._id%>"
                          method="POST"
                        >
                          <!-- ... -->
                          <div class="form-group">
                            <label for="amount">Amount:</label>
                            <div class="input-group mb-20">
                              <input
                                type="number"
                                class="form-control"
                                placeholder="Amount"
                                name="amount"
                                id="amount"
                                required
                                min="<%= minimumCapital %>"
                                oninput="checkFormValidity()"
                              />
                            </div>
                            <div id="error-message" style="color: red"></div>
                          </div>

                          <!-- ... -->

                          <div class="form-group">
                            <label class="form-label" for="payout"
                              >Payout:</label
                            >
                            <div class="input-group mb-20">
                              <select
                                class="form-control select2"
                                style="width: 100%"
                                name="payout"
                                id="payout"
                                required
                                onchange="checkFormValidity()"
                              >
                                <option value="" selected disabled>
                                  Select Payout
                                </option>
                                <option value="daily">Daily Payout</option>
                                <option value="compounding">
                                  12 Months Compounding
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="form-label" for="currency"
                              >Currency:</label
                            >
                            <div class="input-group mb-20">
                              <select
                                class="form-control select2"
                                style="width: 100%"
                                name="currency"
                                id="currency"
                                required
                                onchange="checkFormValidity()"
                              >
                                <option value="" selected disabled>
                                  Select Currency
                                </option>
                                <option value="BTC" data-icon="BTC">
                                  Bitcoin
                                </option>
                                <option value="ETH" data-icon="ETH">
                                  Ethereum
                                </option>
                                <option value="USDT_TRX" data-icon="USDT">
                                  Tether USD TRC20
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="input-group mb-3">
                              <button
                                type="submit"
                                class="waves-effect waves-light btn mb-5 w-p100 mt-10 buy-button"
                                id="buy-button"
                                disabled
                              >
                                Buy now
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- ... -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.content -->
            </div>
            <!-- end row-->
          </section>
          <!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer -->
        <%- include('../../layouts/footer') %>
      </footer>

      <!-- Vendor JS -->
      <%- include('../../layouts/formscript') %>
    </div>

    <!-- Include Select2 JS -->
    <script>
      $(document).ready(function () {
        $('.select2').select2({
          templateResult: function (data, container) {
            if (!data.id || !data.element) {
              return data.text;
            }

            var icon = data.element.dataset.icon;
            var $result = $(
              '<span><i class="cc ' +
                icon +
                '" style="font-size: 1.5rem;"></i> ' +
                data.text +
                '</span>'
            );

            if (data.id === '') {
              $result.addClass('select2-placeholder');
            }

            return $result;
          },
          templateSelection: function (data, container) {
            if (!data.id || !data.element) {
              return data.text;
            }

            var icon = data.element.dataset.icon;
            var $result = $(
              '<span><i class="cc ' +
                icon +
                '"  style="font-size: 1.5rem;"></i> ' +
                data.text +
                '</span>'
            );

            return $result;
          },
        });
      });

      // this script disabled the btn when the field are empty

      function checkFormValidity() {
        var amountInput = document.getElementById('amount');
        var payoutSelect = document.getElementById('payout');
        var currencySelect = document.getElementById('currency');
        var buyButton = document.getElementById('buy-button');
        var errorMessage = document.getElementById('error-message');
        var minAmount = parseInt(amountInput.min); // Convert minAmount to a number
        var enteredAmount = parseInt(amountInput.value);

        if (enteredAmount < minAmount) {
          errorMessage.textContent =
            'Amount must not be less than ' + minAmount + '.';
          amountInput.setCustomValidity('Invalid amount');
        } else {
          errorMessage.textContent = '';
          amountInput.setCustomValidity('');
        }

        if (
          amountInput.value === '' ||
          payoutSelect.value === '' ||
          currencySelect.value === '' ||
          enteredAmount < minAmount // Check if enteredAmount is less than minAmount
        ) {
          buyButton.disabled = true;
        } else {
          buyButton.disabled = false;
        }
      }
    </script>
  </body>
</html>
