<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <header class="main-header">
        <!-- header-->
        <%- include('../layouts/header') %>
      </header>

      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <div class="content-wrapper">
        <div class="container-full">
          <section class="content">
            <h5 class="card-title"><%= title %></h5>
            <div class="col-9 col-xl-9">
              <div class="card mt-20">
                <div class="row m-10" style="margin-left: 10px">
                  <div class="col-12 margin-left-10">
                    <div class="input-group" style="gap: 20px">
                      <div style="border: 1px solid blue; padding: 19px 0px">
                        Referal Link:
                        <span
                          id="referralCode"
                          style="
                            background: #fff2f2;
                            padding: 15px;
                            margin: 5px;
                            border-radius: 10px;
                          "
                        >
                          <%= url %>/<%= referringUser.referralCode %>
                        </span>
                      </div>
                      <button
                        id="copyReferralLinkButton"
                        class="waves-effect waves-light btn btn-success"
                        type="button"
                      >
                        Copy Referral Link
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table table-striped b-1 border-secondary">
                    <thead class="bg-dark">
                      <tr class="p-10">
                        <th style="width: 5%; border-right: #fff2f2 1px solid">
                          SN
                        </th>
                        <th style="width: 20%; border-right: #fff2f2 1px solid">
                          Date
                        </th>
                        <th style="width: 60%; border-right: #fff2f2 1px solid">
                          Details
                        </th>

                        <th style="width: 15%; border-right: #fff2f2 1px solid">
                          Amount
                        </th>
                        <th style="width: 10%">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (referredUsers.length > 0) { %> <%
                      referredUsers.forEach((user, index) => { %>
                      <tr>
                        <td style="border-right: #d1d1d1 1px solid">
                          <%= index + 1 %>
                        </td>
                        <td style="border-right: #d1d1d1 1px solid">
                          <%= user.createdAt.toLocaleString('en-US', { day:
                          'numeric', month: 'long', year: 'numeric', hour:
                          'numeric', minute: 'numeric' }) %>
                        </td>
                        <td style="border-right: #d1d1d1 1px solid">
                          <%= user.description %>
                        </td>
                        <td style="border-right: #d1d1d1 1px solid">
                          $<%= user.bonusAmount %>
                        </td>
                        <td><!-- Display the status --></td>
                      </tr>
                      <% }) %> <% } else { %>
                      <tr>
                        <td colspan="5">No records found</td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>

                  <div
                    class="dataTables_paginate paging_simple_numbers align-right"
                    id="example_paginate"
                  >
                    <% if (totalPages > 1) { %>
                    <ul class="pagination mb-0 mt-20">
                      <% if (currentPage > 1) { %>
                      <li class="paginate_button page-item previous">
                        <a
                          href="?page=<%= currentPage - 1 %>&limit=<%= limit %>"
                          class="page-link"
                          >Previous</a
                        >
                      </li>
                      <% } %> <% for (let i = 1; i <= totalPages; i++) { %> <%
                      if (i === currentPage) { %>
                      <li class="paginate_button page-item active">
                        <a href="#" class="page-link"><%= i %></a>
                      </li>
                      <% } else { %>
                      <li class="paginate_button page-item">
                        <a
                          href="?page=<%= i %>&limit=<%= limit %>"
                          class="page-link"
                          ><%= i %></a
                        >
                      </li>
                      <% } %> <% } %> <% if (currentPage < totalPages) { %>
                      <li class="paginate_button page-item next">
                        <a
                          href="?page=<%= currentPage + 1 %>&limit=<%= limit %>"
                          class="page-link"
                          >Next</a
                        >
                      </li>
                      <% } %>
                    </ul>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <script>
        function copyReferralLink() {
          const referralLink = document.getElementById('referralCode');
          const range = document.createRange();
          const textNode = referralLink.firstChild;
          range.selectNode(textNode);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
          document.execCommand('copy');
          window.getSelection().removeAllRanges();
        }

        const copyReferralLinkButton = document.getElementById(
          'copyReferralLinkButton'
        );
        copyReferralLinkButton.addEventListener('click', copyReferralLink);
      </script>

      <footer class="main-footer">
        <!-- footer-->
        <%- include('../layouts/footer') %>
      </footer>
    </div>
  </body>
</html>
