<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <header class="main-header">
        <!-- header-->
        <%- include('../layouts/header') %>
      </header>

      <aside
        class="main-sidebar"
        style="border-right: 1px solid rgb(203, 203, 203)"
      >
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>
      <div
        class="content-wrapper bg-white"
        style="border-radius: 0; border-top: 1px solid #cbcbcb"
      >
        <div class="container mt-30">
          <img
            src="/images/header/Referral_Bonus_Web.png"
            alt="refaral"
            srcset=""
          />
          <section class="content">
            <div class="col-12 col-xl-12">
              <div
                class="d-md-flex justify-content-between align-items-center mb-10"
              >
                <div class="col-5">
                  <h2 class="title fw-600"><%= title %></h2>
                </div>
                <div class="col-5">
                  <div class="input-group">
                    <div
                      style="
                        border: 1px solid #8c8c8d;
                        padding: 14px 3px;
                        border-radius: 10px;
                      "
                    >
                      Referal Link:
                      <span
                        id="referralCode"
                        style="
                          background: #fff8f8;
                          padding: 14px;
                          margin: 3px;
                          border-radius: 10px;
                        "
                      >
                        <%= url %>/<%= referringUser.referralCode %>
                      </span>
                    </div>
                  </div>
                </div>
                <div style="width: 100%; text-align: right">
                  <button
                    id="copyReferralLinkButton"
                    class="waves-effect waves-light btn btn bg-gradient-info-dark mb-0"
                    type="button"
                  >
                    Copy Referral Link
                  </button>
                </div>
              </div>
              <div class="mt-20" style="border: 1px solid #cbcbcb">
                <div class="card-body">
                  <table class="table table-striped b-1 border-gray-700">
                    <thead class="bg-dark">
                      <tr class="p-10">
                        <th style="width: 5%; border-right: #fff2f2 1px solid">
                          SN
                        </th>
                        <th style="width: 20%; border-right: #fff2f2 1px solid">
                          Date
                        </th>
                        <th style="width: 60%; border-right: #fff2f2 1px solid">
                          Details
                        </th>

                        <th style="width: 15%; border-right: #fff2f2 1px solid">
                          Amount
                        </th>
                        <th style="width: 10%">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (referredUsers.length > 0) { %> <%
                      referredUsers.forEach((user, index) => { %>
                      <tr>
                        <td style="border-right: #d1d1d1 1px solid">
                          <%= index + 1 %>
                        </td>
                        <td style="border-right: #d1d1d1 1px solid">
                          <%= user.createdAt.toLocaleString('en-US', { day:
                          'numeric', month: 'long', year: 'numeric', hour:
                          'numeric', minute: 'numeric' }) %>
                        </td>
                        <td style="border-right: #d1d1d1 1px solid">
                          <%= user.description %>
                        </td>
                        <td style="border-right: #d1d1d1 1px solid">
                          $<%= user.bonusAmount %>
                        </td>
                        <td><!-- Display the status --></td>
                      </tr>
                      <% }) %> <% } else { %>
                      <tr>
                        <td colspan="5">No records found</td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>

                  <div
                    class="dataTables_paginate paging_simple_numbers align-right"
                    id="example_paginate"
                  >
                    <% if (totalPages > 1) { %>
                    <ul class="pagination mb-0 mt-20">
                      <% if (currentPage > 1) { %>
                      <li class="paginate_button page-item previous">
                        <a
                          href="?page=<%= currentPage - 1 %>&limit=<%= limit %>"
                          class="page-link"
                          >Previous</a
                        >
                      </li>
                      <% } %> <% for (let i = 1; i <= totalPages; i++) { %> <%
                      if (i === currentPage) { %>
                      <li class="paginate_button page-item active">
                        <a href="#" class="page-link"><%= i %></a>
                      </li>
                      <% } else { %>
                      <li class="paginate_button page-item">
                        <a
                          href="?page=<%= i %>&limit=<%= limit %>"
                          class="page-link"
                          ><%= i %></a
                        >
                      </li>
                      <% } %> <% } %> <% if (currentPage < totalPages) { %>
                      <li class="paginate_button page-item next">
                        <a
                          href="?page=<%= currentPage + 1 %>&limit=<%= limit %>"
                          class="page-link"
                          >Next</a
                        >
                      </li>
                      <% } %>
                    </ul>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <script>
        function copyReferralLink() {
          const referralLink = document.getElementById('referralCode');
          const range = document.createRange();
          const textNode = referralLink.firstChild;
          range.selectNode(textNode);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
          document.execCommand('copy');
          window.getSelection().removeAllRanges();
        }

        const copyReferralLinkButton = document.getElementById(
          'copyReferralLinkButton'
        );
        copyReferralLinkButton.addEventListener('click', copyReferralLink);
      </script>

      <footer class="main-footer bg-white">
        <!-- footer-->
        <%- include('../layouts/footer') %>
      </footer>
    </div>
  </body>
</html>
