<!DOCTYPE html>
<html lang="en">
 
  <head>
    <%- include('../layouts/head') %>
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('../layouts/header') %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
        

          	<!-- Main content -->
		<section class="content">
			<div class="row">
				

				<div class="col-xl-12 col-lg-7">
					<div class="card">
						<div class="card-body">
							<h1>Referred Partners</h1>
					

						
						</div> <!-- end card body -->
					</div> <!-- end card -->
				</div> <!-- end col -->
			</div>
			<!-- end row-->

		</section>
		<!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer -->
        <%- include('../layouts/footer') %>
      </footer>
      
    <!-- Vendor JS -->
    <%- include('../layouts/script') %>
  </body>
  <script src="/js/bundle.js"></script>
 
</html>
