<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- Vendors Style-->
    <link rel="stylesheet" href="/css/vendors_css.css" />

    <link rel="stylesheet" href="/css/validation.css" />
    <link rel="stylesheet" href="/css/alert.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/skin_color.css" />
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('../layouts/header') %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <!-- Main content -->
          <section class="content">
            <% buyPortfolios.map(function(buyPortfolio) { %>

            <div class="active__portfolio">
              <div class="row">
                <div class="col-xl-8 col-lg-7">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="text-center mb-2">
                        <%=buyPortfolio.portfolioName %>
                      </h3>
                      <p class="text-center mb-30">
                        <span
                          class="badge <%= buyPortfolio.status === 'inactive' ? 'bg-warning-light' : 'bg-success-light' %>"
                        >
                          <%= buyPortfolio.status %>
                        </span>
                      </p>

                      <div class="row">
                        <div class="col-12 col-md-4 mt-30">
                          <a
                            class="box box-link-pop text-center"
                            href="javascript:void(0)"
                          >
                            <div class="box-body py-25">
                              <p class="fs-20">$<%= buyPortfolio.amount %></p>
                              <p class="fw-600 fs-20">
                                <span class="path1"></span
                                ><span class="path2"></span>
                                AMOUNT INVESTED
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="col-12 col-md-4 mt-30">
                          <a
                            class="box box-link-pop text-center"
                            href="javascript:void(0)"
                          >
                            <div class="box-body py-25">
                              <p class="fs-20"><%= buyPortfolio.payout %></p>
                              <p class="fw-600 fs-20">
                                <span class="path1"></span
                                ><span class="path2"></span>
                                PAYOUT
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="col-12 col-md-4 mt-30">
                          <a
                            class="box box-link-pop text-center"
                            href="javascript:void(0)"
                          >
                            <div class="box-body py-25">
                              <p class="fs-20">12 months</p>
                              <p class="fw-600 fs-20">
                                <span class="path1"></span
                                ><span class="path2"></span>
                                DURATION
                              </p>
                            </div>
                          </a>
                        </div>
                        <div class="mt-30">
                          <div class="row show-grid mb-30">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                              <button
                                type="button"
                                class="waves-effect waves-light btn btn-success mb-5"
                                style="margin-right: 30px"
                              >
                                Re-Invest
                              </button>

                              <button
                                type="button"
                                class="waves-effect waves-light btn btn-warning mb-5"
                              >
                                Withdraw
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end card body -->
                  </div>
                  <!-- end card -->
                </div>
                <div class="col-12 col-xl-4">
                  <div class="box">
                    <div
                      class="box-body"
                      style="
                        position: relative;
                        padding-top: 0px;
                        padding-bottom: 0px;
                      "
                    >
                      <div
                        id="revenue5"
                        class="text-dark"
                        style="min-height: 223.7px"
                      >
                        <div
                          id="apexchartskgbi2cax"
                          class="apexcharts-canvas apexchartskgbi2cax apexcharts-theme-light"
                          style="width: 406px; height: 223.7px"
                        >
                          <svg
                            id="SvgjsSvg3433"
                            width="406"
                            height="223.7"
                            xmlns="http://www.w3.org/2000/svg"
                            version="1.1"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            xmlns:svgjs="http://svgjs.com/svgjs"
                            class="apexcharts-svg"
                            xmlns:data="ApexChartsNS"
                            transform="translate(0, 0)"
                            style="background: transparent"
                          >
                            <g
                              id="SvgjsG3435"
                              class="apexcharts-inner apexcharts-graphical"
                              transform="translate(93.5, 0)"
                            >
                              <defs id="SvgjsDefs3434">
                                <clipPath id="gridRectMaskkgbi2cax">
                                  <rect
                                    id="SvgjsRect3437"
                                    width="227"
                                    height="245"
                                    x="-3"
                                    y="-1"
                                    rx="0"
                                    ry="0"
                                    opacity="1"
                                    stroke-width="0"
                                    stroke="none"
                                    stroke-dasharray="0"
                                    fill="#fff"
                                  ></rect>
                                </clipPath>
                                <clipPath id="forecastMaskkgbi2cax"></clipPath>
                                <clipPath
                                  id="nonForecastMaskkgbi2cax"
                                ></clipPath>
                                <clipPath id="gridRectMarkerMaskkgbi2cax">
                                  <rect
                                    id="SvgjsRect3438"
                                    width="225"
                                    height="247"
                                    x="-2"
                                    y="-2"
                                    rx="0"
                                    ry="0"
                                    opacity="1"
                                    stroke-width="0"
                                    stroke="none"
                                    stroke-dasharray="0"
                                    fill="#fff"
                                  ></rect>
                                </clipPath>
                              </defs>
                              <g id="SvgjsG3439" class="apexcharts-radialbar">
                                <g id="SvgjsG3440">
                                  <g id="SvgjsG3441" class="apexcharts-tracks">
                                    <g
                                      id="SvgjsG3442"
                                      class="apexcharts-radialbar-track apexcharts-track"
                                      rel="1"
                                    >
                                      <path
                                        id="apexcharts-radialbarTrack-0"
                                        d="M 110.5 29.101219512195115 A 81.39878048780488 81.39878048780488 0 1 1 110.4857932328059 29.101220751969436"
                                        fill="none"
                                        fill-opacity="1"
                                        stroke="rgba(242,242,242,0.85)"
                                        stroke-opacity="1"
                                        stroke-linecap="round"
                                        stroke-width="9.962609756097564"
                                        stroke-dasharray="0"
                                        class="apexcharts-radialbar-area"
                                        data:pathOrig="M 110.5 29.101219512195115 A 81.39878048780488 81.39878048780488 0 1 1 110.4857932328059 29.101220751969436"
                                      ></path>
                                    </g>
                                  </g>
                                  <g id="SvgjsG3444">
                                    <g
                                      id="SvgjsG3448"
                                      class="apexcharts-series apexcharts-radial-series"
                                      seriesName="Progress"
                                      rel="1"
                                      data:realIndex="0"
                                    >
                                      <path
                                        id="SvgjsPath3449"
                                        d="M 110.5 29.101219512195115 A 81.39878048780488 81.39878048780488 0 1 1 39.30702244825213 149.96291185680764"
                                        fill="none"
                                        fill-opacity="0.85"
                                        stroke="rgba(115,58,235,0.85)"
                                        stroke-opacity="1"
                                        stroke-linecap="round"
                                        stroke-width="10.270731707317076"
                                        stroke-dasharray="0"
                                        class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                                        data:angle="241"
                                        data:value="67"
                                        index="0"
                                        j="0"
                                        data:pathOrig="M 110.5 29.101219512195115 A 81.39878048780488 81.39878048780488 0 1 1 39.30702244825213 149.96291185680764"
                                      ></path>
                                    </g>
                                    <circle
                                      id="SvgjsCircle3445"
                                      r="61.41747560975611"
                                      cx="110.5"
                                      cy="110.5"
                                      class="apexcharts-radialbar-hollow"
                                      fill="transparent"
                                    ></circle>
                                    <g
                                      id="SvgjsG3446"
                                      class="apexcharts-datalabels-group"
                                      transform="translate(0, 0) scale(1)"
                                      style="opacity: 1"
                                    >
                                      <text
                                        id="SvgjsText3447"
                                        font-family="Helvetica, Arial, sans-serif"
                                        x="110.5"
                                        y="126.5"
                                        text-anchor="middle"
                                        dominant-baseline="auto"
                                        font-size="30px"
                                        font-weight="400"
                                        fill="#111111"
                                        class="apexcharts-text apexcharts-datalabel-value"
                                        style="
                                          font-family: Helvetica, Arial,
                                            sans-serif;
                                        "
                                      >
                                        67
                                      </text>
                                    </g>
                                  </g>
                                </g>
                              </g>
                              <line
                                id="SvgjsLine3450"
                                x1="0"
                                y1="0"
                                x2="221"
                                y2="0"
                                stroke="#b6b6b6"
                                stroke-dasharray="0"
                                stroke-width="1"
                                class="apexcharts-ycrosshairs"
                              ></line>
                              <line
                                id="SvgjsLine3451"
                                x1="0"
                                y1="0"
                                x2="221"
                                y2="0"
                                stroke-dasharray="0"
                                stroke-width="0"
                                class="apexcharts-ycrosshairs-hidden"
                              ></line>
                            </g>
                            <g
                              id="SvgjsG3436"
                              class="apexcharts-annotations"
                            ></g>
                          </svg>
                          <div class="apexcharts-legend"></div>
                        </div>
                      </div>
                      <div class="resize-triggers">
                        <div class="expand-trigger">
                          <div style="width: 446px; height: 200px"></div>
                        </div>
                        <div class="contract-trigger"></div>
                      </div>
                    </div>
                    <div
                      class="box-body mt-0 mb-0"
                      style="padding-top: 0px; padding-bottom: 0px"
                    >
                      <h3 class="text-center">Days left</h3>
                      <hr />
                      <div class="d-flex align-items-center mb-10">
                        <div
                          class="me-15 bg-lightest h-50 w-50 l-h-60 rounded100 text-center"
                        >
                          S
                        </div>
                        <div class="d-flex flex-column">
                          <h4 class="text-dark mb-1 fs-16">
                            Open date:
                            <span
                              ><%=
                              buyPortfolio.dateOfPurchase.toLocaleDateString('en-US',
                              { weekday: 'short', month: 'short', day:
                              'numeric', year: 'numeric' }) %>
                            </span>
                          </h4>
                        </div>
                      </div>
                      <div class="d-flex align-items-center mb-10">
                        <div
                          class="me-15 bg-lightest h-50 w-50 l-h-60 rounded100 text-center"
                        >
                          E
                        </div>
                        <div class="d-flex flex-column">
                          <h4 class="text-dark mb-1 fs-16">
                            Close date:
                            <span
                              ><%=
                              buyPortfolio.dateOfExpiry.toLocaleDateString('en-US',
                              { weekday: 'short', month: 'short', day:
                              'numeric', year: 'numeric' }) %>
                            </span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end col -->
              </div>
            </div>
            <% }); %>
            <!-- end row-->
          </section>
          <!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer -->
        <%- include('../layouts/footer') %>
      </footer>

      <!-- Vendor JS -->
      <!-- Vendor JS -->
      <script src="js/vendors.min.js"></script>
      <script src="js/pages/chat-popup.js"></script>
      <script src="assets/icons/feather-icons/feather.min.js"></script>

      <script src="/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>

      <script src="js/demo.js"></script>
      <script src="js/template.js"></script>
      <script src="/src/js/pages/chart-widgets.js"></script>
      <script src="/package.json"></script>
    </div>
  </body>
</html>
