<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
       
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <header class="main-header">
        <!-- header -->
        <%- include('../layouts/header') %>
      </header>
    <aside class="main-sidebar" style="border-right: 1px solid #cbcbcb">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <div
        class="content-wrapper bg-white"
        style="border-radius: 0; border-top: 1px solid #cbcbcb"
      >
        <div class="container mt-30">
          <img
            src="/images/header/"
            alt="refaral"
            srcset=""
          />
          <section class="content">
            <% let activePortfolioFound = false; %> <%
            buyPortfolios.forEach(function(buyPortfolio) { %> <% if
            (buyPortfolio.status === 'expired') { %> <% activePortfolioFound =
            true; %>
            <div class="active__portfolio">
              <div class="row">
                <div class="col-xl-8 col-lg-7">
                  <div class="card b-groove">
                    <div class="card-body">
                      <h3 class="text-center mb-2">
                        <%= buyPortfolio.portfolioName %>
                      </h3>
                      <p class="text-center mb-10">
                        <span
                          class="badge bg-success-light"
                        >
                          <%= buyPortfolio.status %>
                        </span>
                      </p>
                      <div class="row">
                        <div class="col-12 col-md-4 mt-20">
                          <div class="text-center">
                            <div class="">
                              <p class="fs-17">$<%= buyPortfolio.amount %></p>
                              <p class="fw-500 fs-18">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                AMOUNT INVESTED
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-4 mt-20">
                          <div class="text-center">
                            <div class="box-body py-5">
                              <p class="fs-17"><%= buyPortfolio.payout %></p>
                              <p class="fw-500 fs-18">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                PAYOUT
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-4 mt-20">
                          <div class="text-center">
                            <div class="box-body py-5">
                              <p class="fs-17">12 months</p>
                              <p class="fw-500 fs-18">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                DURATION
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="mt-80">
                          <div class="row show-grid mb-5">
                            <div class="col-md-4"></div>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-4">
                  <div class="box b-groove">
                    <div
                      class="box-body mt-0 mb-0"
                      style="padding-top: 52px; padding-bottom: 50px"
                    >
                      <h3 class="text-center">-</h3>
                      <hr />
                      <div class="d-flex align-items-center mb-10">
                        <div
                          class="me-15 bg-lightest h-50 w-50 l-h-60 rounded100 text-center"
                        >
                          S
                        </div>
                        <div class="d-flex flex-column">
                          <h4 class="text-dark mb-1 fs-16">
                            Open date:
                            <span>
                              <%=
                              buyPortfolio.dateOfPurchase.toLocaleDateString('en-US',
                              { weekday: 'short', month: 'short', day:
                              'numeric', year: 'numeric' }) %>
                            </span>
                          </h4>
                        </div>
                      </div>
                      <div class="d-flex align-items-center mb-10">
                        <div
                          class="me-15 bg-lightest h-50 w-50 l-h-60 rounded100 text-center"
                        >
                          E
                        </div>
                        <div class="d-flex flex-column">
                          <h4 class="text-dark mb-1 fs-16">
                            Close date:
                            <span>
                              <%=
                              buyPortfolio.dateOfExpiry.toLocaleDateString('en-US',
                              { weekday: 'short', month: 'short', day:
                              'numeric', year: 'numeric' }) %>
                            </span>
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %> <% }); %> <% if (!activePortfolioFound) { %>
            
            <h3>No Expired portfolio yet</h3>
            <% } %>
          </section>
                       
<div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-black">
                  <h4 class="modal-title" id="standard-modalLabel">
                   Re-Investment
                  </h4>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
      <div class="modal-body">
        
        <form class="ps-3 pe-3" action="/user/disapprove/5" method="post">
          <div class="mt-20-3">
            <label for="portfolio">Investment Portfolio</label>
            <div class="input-group mb-20">
              <input type="text" name="invested-portfolio-name" id="portfolio" class="form-control" value="Invested portfolio name">
            </div>
          </div>
          <div class="mb-3">
            <label for="portfolio-type">Investment Category</label>
            <div class="input-group mb-20">
              <input type="text" name="invested-portfolio-name" id="portfolio-type" class="form-control" value="Invested portfolio Category">
            </div>
          </div>
          <div class="mb-3">
            <label for="invested-amount">Invested Amount</label>
            <div class="input-group mb-20">
              <input type="text" name="invested-amount" id="invested-amount" class="form-control" value="Invested Amount">
            </div>
          </div>
          <div class="mb-3">
            <label for="add-amount">Add Amount</label>
            <div class="input-group mb-20">
              <input type="text" name="amount" id="add-amount" class="form-control" value="Add Amount">
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-20">
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true" name="payment-option" id="method" required>
                <option value="" selected>
                  Select a payment Option
                </option>
                <option value="From my Balance" data-icon="id">Balance</option>
                <option value="Add New" data-icon="proof">Add new</option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group mb-20">
              <select class="form-control select2 select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true" name="corrency" id="method" required>
                <option value="" selected>
                  Select Currency
                </option>
                <option value="BTC" data-icon="id">BTC</option>
                <option value="Ether" data-icon="proof">ETH</option>
              </select>
            </div>
          </div>

           <div class="mt-10">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="withdrawal-button">
                       Purchase
                      </button>
                    </div>
        </form>
      </div>
    </div>
  </div>
</div>


 <div
            id="standard-modal"
            class="modal fade"
            tabindex="-1"
            role="dialog"
            aria-labelledby="standard-modalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-black">
                  <h4 class="modal-title" id="standard-modalLabel">
                    Withdrawal Request
                  </h4>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                 
                
                 
                  <form
                    class="rform__modified"
                    action="/user/withdrawal"
                    method="post"
                    onsubmit="submitForm(event)"
                  >
                    <div class="form-group">
                      <div
                        class="d-md-flex justify-content-between align-items-center"
                      >
                        <div class="col-7">
                          <input
                            type="number"
                            name="authCode"
                            class="form-control ps-15 p-10"
                            placeholder="Enter 2FA"
                            id="authCode"
                            required
                          />

                          <span
                            id="authCodeError"
                            style="color: red; display: none"
                          ></span>
                        </div>
                        <div>
                          <button
                            class="btn btn bg-gradient-info-dark" style="width: 100%;"
                            id="generateCodeBtn"
                            >
                          
<span id="authCodeSpinner" class="spinner-border spinner-border-sm" style="display: none;"></span>
                            Generate Code
                            </button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input
                        type="number"
                        name="amount"
                        class="form-control ps-15 p-10"
                        placeholder="Min is $10"
                        id="amount"
                        min="10"
                        required
                      />
                      <span
                        id="amountError"
                        style="color: red; display: none"
                      ></span>
                    </div>
                    <div class="input-group mb-20">
                      <select
                        class="form-control select2"
                        style="width: 100%"
                        tabindex="-1"
                        aria-hidden="true"
                        name="method"
                        id="method"
                        required
                      >
                        <option value="" selected disabled>
                          Select Wallet Type
                        </option>
                        <option value="BTC" data-icon="BTC">Bitcoin</option>
                        <option value="ETH" data-icon="ETH">Ethereum</option>
                        <option value="USDT" data-icon="USDT">
                          Tether USD TRC20
                        </option>
                      </select>
                      <span
                        id="methodError"
                        style="color: red; display: none"
                      ></span>
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        name="walletAddress"
                        class="form-control ps-15 p-10"
                        placeholder="Wallet Address"
                        id="walletAddress"
                        title="Please enter a valid wallet address"
                        required
                      />
                      <span
                        id="walletAddressError"
                        style="color: red; display: none"
                      ></span>
                    </div>

                    <hr />
                    <div class="mt-10">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="btn btn bg-gradient-info-dark">
                         <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                        Withdraw Now
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>



  </div>
</div>


      <footer class="main-footer bg-white">
  
        <%- include('../layouts/footer') %>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
  
  document
    .getElementById('generateCodeBtn')
    .addEventListener('click', function () {
      // Show the spinner for auth code
      document.getElementById('authCodeSpinner').style.display = 'inline-block';

      // Retrieve the value from the 2FA input field
      var twoFactorValue = document.getElementById('authCode').value;

      // Make a POST request to the "user/2factor" endpoint
      axios
        .post('/user/two-factor', { twoFactorValue })
        .then(function (response) {
          // Handle the response from the server
          console.log(response.data);
          // Hide the spinner for auth code
          document.getElementById('authCodeSpinner').style.display = 'none';
          // Perform any necessary actions based on the response
        })
        .catch(function (error) {
          // Handle errors
          console.error(error);
          // Hide the spinner for auth code
          document.getElementById('authCodeSpinner').style.display = 'none';
        });
    });
        
            $('form').on('submit', function (event) {
  event.preventDefault();

  // Show the spinner
  $('#spinner').show();

  var formData = $(this).serialize();

  $.ajax({
    type: 'POST',
    url: '/user/withdrawal',
    data: formData,
    success: function (response) {
      // Hide the spinner
      $('#spinner').hide();

      // Handle successful response
      window.location.href = response.redirectUrl;
    },
    error: function (xhr, status, error) {
      // Hide the spinner
      $('#spinner').hide();
                // Handle error response
                var errorMessage = xhr.responseText;

                // Hide all error messages
                $('#authCodeError').hide();
                $('#amountError').hide();
                $('#methodError').hide();
                $('#walletAddressError').hide();

                switch (errorMessage) {
                  case 'Missing required information.':
                    // Show error on all fields
                    $('#authCodeError').text('Required').show();
                    $('#amountError').text('Required').show();
                    $('#methodError').text('Required').show();
                    $('#walletAddressError').text('Required').show();
                    break;
                  case 'Invalid user or authentication record.':
                    // Show error on authentication field
                    $('#authCodeError')
                      .text('Invalid user or authentication record')
                      .show();
                    break;
                  case 'Authentication code is empty.':
                    // Show error on authentication field
                    $('#authCodeError')
                      .text('Authentication code is empty')
                      .show();
                    break;
                  case 'Invalid authentication code.':
                    // Show error on authentication field
                    $('#authCodeError')
                      .text('Invalid authentication code')
                      .show();
                    break;
                  case 'Insufficient balance.':
                    // Show error on amount field
                    $('#amountError').text('Insufficient balance').show();
                    break;
                  default:
                    // Show general error
                    alert('An error occurred: ' + errorMessage);
                    break;
                }
              },
            });
          });
        </script>
      </footer>

    </div>
  </body>
</html>
