<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from investx-admin-template.multipurposethemes.com/New_InvestX-main-files/html/template/vertical-light/main/extra_profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2023 23:01:32 GMT -->
  <head>
    <%- include('../layouts/head') %>
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('../layouts/header') %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
        

          	<!-- Main content -->
		<section class="content">
			<div class="row">
				

			
							<h1>The Defensive Portfolio  </h1>
					<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="row g-0 align-items-center">
							<div class="col-md-4">
								<img src="../../../images/gallery/landscape20.jpg" class="card-img" alt="...">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title fw-600">Basic Yield Portfolio</h5>
									<p class="card-text text-gray-600">A growth portfolio providing access to selected top-tier growth equity and VC funds.</p>
									<p class="card-text text-gray-600"><small class="text-muted">Last updated 3 mins ago</small></p>
                  
                  <div class="class here">
                  <button>HEllo</button>
                  <button>HEllo</button>
                  <button>HEllo</button>
                  </div>
                  <div class="bunna">
                    <div class="box">
                      <h1>Portfolio Duration</h1>
                      <p>12 months</p>
                    </div>
                    <div class="box">
                      <h1>Return on investment</h1>
                      <p>4.05% - 4.25%  Weekly</p>
                    </div>
                    <div class="box">
                      <h1> Minimum Capital</h1>
                      <p>$1000</p>
                    </div>

                  </div>
								</div> <!-- end card-body-->
							</div> <!-- end col -->
						</div> <!-- end row-->
					</div> <!-- end card-->
				</div> <!-- end col-->
			
			</div>

				
			</div>
			<!-- end row-->

		</section>
		<!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer -->
        <%- include('../layouts/footer') %>
      </footer>
      
    <!-- Vendor JS -->
    <%- include('../layouts/script') %>
  </body>
  <script src="/js/bundle.js"></script>
  <!-- Mirrored from investx-admin-template.multipurposethemes.com/New_InvestX-main-files/html/template/vertical-light/main/extra_profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2023 23:01:34 GMT -->
</html>
