<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head') %>
    <link rel="stylesheet" href="/css/addedstyles.css" />
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('../layouts/header') %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <!-- Main content -->
          <section class="content">
            <div class="row">
              <h1>The Defensive Portfolio</h1>
              <% portfolios.forEach((portfolio) => { %>

              <div class="row relat__position">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="row g-0 align-items-center">
                      <div class="col-md-2">
                        <img
                          src="/portfolio/<%= portfolio.imageName %>"
                          class="card-img cardimg__extra"
                          alt="<%= portfolio.imageName %>"
                          srcset=""
                        />
                        <% if (portfolio.closingSoon) { %>
                        <div class="custom__bell">
                          <i data-feather="bell"></i>
                          <p>Closing Soon</p>
                        </div>
                        <% } %>

                        <div class="custom__bell">
                          <i data-feather="bell"></i>
                          <p>Coming Soon</p>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="custom__title"><%= portfolio.title %></h5>
                          <p class="card-text text-gray-600 custom__p">
                            <%= portfolio.description %>.
                          </p>
                          <div class="flex__container_custom">
                            <div class="flexbox__custom">
                              <h1>Portfolio Duration</h1>
                              <p><%= portfolio.portfolioDuration %></p>
                            </div>
                            <div class="flexbox__custom">
                              <h1>Return on investment</h1>
                              <p><%= portfolio.returnOnInvestment %></p>
                            </div>
                            <div class="flexbox__custom">
                              <h1>Minimum Capital</h1>
                              <p><%= portfolio.minimumCapital %></p>
                            </div>
                          </div>
                        </div>
                        <!-- end card-body-->
                      </div>
                      <!-- end col -->
                    </div>
                    <!-- end row-->
                  </div>
                  <!-- end card-->
                  <div class="right__image">
                    <img
                      src="/portfolio/chartbasic.png"
                      class="card-img image__right__img"
                      alt="..."
                    />
                  </div>
                  <div
                    class="<%= isProfileComplete ? 'port_unlocked' : 'port_locked' %>"
                  >
                    <% if (isProfileComplete) { %>
                    <a href="/portfolio/<%= portfolio._id %>"
                      >View portfolio details</a
                    >
                    <% } else { %>
                    <p>
                      Complete your profile to access portfolio fund details,
                      webinar, fund document, and more
                    </p>
                    <i data-feather="lock" class="locked__class"></i><br />
                    <a href="/user/profile">Complete your profile</a>
                    <% } %>
                  </div>
                </div>
                <!-- end col-->
              </div>

              <% }) %>
            </div>
            <!-- end row-->
          </section>
          <!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer -->
        <%- include('../layouts/footer') %>
      </footer>

      <!-- Vendor JS -->
      <%- include('../layouts/script') %>
      <script src="/js/bundle.js"></script>
    </div>
  </body>
</html>
