<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head') %>
    <link rel="stylesheet" href="/css/addedstyles.css" />
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('../layouts/header') %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <!-- Main content -->
          <section class="content">
            <div class="row">
              <h1>The Defensive Portfolio</h1>
              <% if (portfolios.length === 0) { %>
              <div class="col-lg-11">
                <div class="card force__position">
                  <h1 style="padding: 20px">
                    No Portfolio has been created yet
                  </h1>
                </div>
              </div>
              <% } else { %> <% portfolios.forEach((portfolio) => { %>

              <div class="col-lg-11">
                <div class="card force__position">
                  <% if(portfolio.length >= 0){ %>
                  <div class="card force__position">
                    <h1>No Portfolio has been created yet</h1>
                  </div>
                  <% } else { %>
                  <div class="row g-0 align-items-center">
                    <div class="col-md-2">
                      <img
                        src="/portfolio/<%= portfolio.imageName %>"
                        class="card-img h-350"
                        alt="<%= portfolio.imageName %>"
                      />
                    </div>

                    <div class="col-md-9 col-sm-6">
                      <div class="card-body">
                        <h1
                          class="card-title fs-40 fw-500 mb-5"
                          style="width: 70%"
                        >
                          <%= portfolio.portfolioTitle %>
                          <hr />
                        </h1>
                        <p
                          class="card-text text-gray-600 mt-20"
                          style="width: 70%"
                        >
                          <%= portfolio.description %>
                        </p>
                        <br />
                        <br />
                        <br />
                        <br />

                        <div class="col-lg-12">
                          <div class="row" style="text-align: center">
                            <div
                              class="col-md-3"
                              style="border-right: 1px solid #808080"
                            >
                              <h2>
                                <%= portfolio.duration %><br />
                                <small>Duration</small>
                              </h2>
                            </div>
                            <div
                              class="col-md-3"
                              style="border-right: 1px solid #b4b4b4"
                            >
                              <h2>
                                <%= portfolio.returnOnInvestment.rioPText %><br />
                                <small>Return on investment </small>
                              </h2>
                            </div>
                            <div
                              class="col-md-3"
                              style="border-right: 1px solid #b4b4b4"
                            >
                              <h2>
                                <%= portfolio.minimumCapital %><br />
                                <small>Min Capital</small>
                              </h2>
                            </div>
                            <div
                              class="col-md-3"
                              style="border-right: 1px solid #b4b4b4"
                            >
                              <h2>
                                <%= portfolio.compounding.cPText %><br />
                                <small> Compounding Percentage</small>
                              </h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end card-body-->
                    </div>

                    <div
                      class="<%= isProfileComplete ? 'port_unlocked' : 'port_locked' %>"
                    >
                      <img
                        src="/portfolio/chartbasic.png"
                        alt="..."
                        style="max-width: 300px; width: 270px"
                      />
                    </div>
                    <div
                      class="<%= isProfileComplete ? 'port_unlocked' : 'port_locked' %>"
                    >
                      <% if (isProfileComplete) { %>
                      <a href="/portfolio/<%= portfolio._id %>"
                        >View portfolio details</a
                      >
                      <% } else { %>
                      <p>
                        Complete your profile to access portfolio fund details,
                        webinar, fund document, and more
                      </p>
                      <i data-feather="lock" class="locked__class"></i><br />
                      <a href="/user/profile">Complete your profile</a>
                      <% } %>
                    </div>

                    <!-- end col -->
                  </div>
                  <!-- end row-->
                  <% } %>
                </div>
                <!-- end card-->
              </div>
              <% }) %> <% } %>
            </div>
            <!-- end row-->
          </section>
          <!-- /.content -->
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer -->
        <%- include('../layouts/footer') %>
      </footer>

      <!-- Vendor JS -->
      <script src="/js/vendors.min.js"></script>
      <script src="/js/pages/chat-popup.js"></script>
      <script src="/assets/icons/feather-icons/feather.min.js"></script>
      <script src="/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>

      <!-- InvestX App -->
      <script src="js/demo.js"></script>
      <script src="/js/template.js"></script>
      <script src="/js/pages/dashboard.js"></script>

      <script src="js/pages/chart-widgets.js"></script>
    </div>
  </body>
</html>
