<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from investx-admin-template.multipurposethemes.com/New_InvestX-main-files/html/template/vertical-light/main/extra_profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2023 23:01:32 GMT -->
  <head>
    <%- include('../layouts/head') %>
    <link rel="stylesheet" href="/css/addedstyles.css">
  </head>
  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('../layouts/header') %>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<div class="container-full">


<!-- Main content -->
<section class="content">
<div class="row">



<h1>The Defensive Portfolio  </h1>
<div class="row relat__position">
<div class="col-lg-12">
  
  <a href="/portforlio-details" class="port__link">
<div class="card ">
<div class="row g-0 align-items-center">
<div class="col-md-2">
  <img src="../../../images/gallery/landscape20.jpg" class="card-img cardimg__extra" alt="...">

<div class="custom__bell">
   <i data-feather="bell"></i>
  <p>Coming Soon</p>
</div>
</div>
<div class="col-md-8">
  <div class="card-body">
    <h5 class="custom__title">Basic Yield Portfolio</h5>
    <p class="card-text text-gray-600 custom__p">A growth portfolio providing access to selected top-tier growth equity and VC funds.</p>
   
    <div class="flex__container_custom">
      <div class="flexbox__custom">
        <h1>Portfolio Duration</h1>
        <p>12 months</p>
      </div>
      <div class="flexbox__custom">
        <h1>Return on investment</h1>
        <p>4.05% - 4.25%  Weekly</p>
      </div>
      <div class="flexbox__custom">
        <h1> Minimum Capital</h1>
        <p>$1000</p>
      </div>

    </div>
  </div> <!-- end card-body-->
 
</div> <!-- end col -->

</div> <!-- end row-->
</div> <!-- end card-->
<div class="right__image">
 <img src="../../../images/gallery/landscape20.jpg" class="card-img  image__right__img" alt="...">
</div>
<div class="port_locked">
  <p>Complete your profile to access portfolio fund details, webbinar, fund document and more</p>
    <i data-feather="lock" class="locked__class"></i><br>
  <a href="/user/profile">Complete your profile</a>
</div>

</a>
</div> <!-- end col-->

</div>

<div class="row relat__position">
<div class="col-lg-12">
  
  <a href="/portforlio-details" class="port__link">
<div class="card ">
<div class="row g-0 align-items-center">
<div class="col-md-2">
  <img src="../../../images/gallery/landscape5.jpg" class="card-img cardimg__extra" alt="...">

<!-- <div class="custom__bell">
   <i data-feather="bell"></i>
  <p>Comming Soon</p>
</div> -->
</div>
<div class="col-md-8">
  <div class="card-body">
    <h5 class="custom__title">Core Plus Income Portfolio
</h5>
    <p class="card-text text-gray-600 custom__p">A growth portfolio providing access to selected top-tier growth equity and VC funds.</p>
   
    <div class="flex__container_custom">
      <div class="flexbox__custom">
        <h1>Portfolio Duration</h1>
        <p>12 months</p>
      </div>
      <div class="flexbox__custom">
        <h1>Return on investment</h1>
        <p>4.05% - 4.25%  Weekly</p>
      </div>
      <div class="flexbox__custom">
        <h1> Minimum Capital</h1>
        <p>$1000</p>
      </div>

    </div>
  </div> <!-- end card-body-->
 
</div> <!-- end col -->

</div> <!-- end row-->
</div> <!-- end card-->
<div class="right__image">
 <img src="../../../images/gallery/landscape5.jpg" class="card-img  image__right__img" alt="...">
</div>
<div class="port_locked">
  <p>Complete your profile to access portfolio fund details, webbinar, fund document and more</p>
    <i data-feather="lock" class="locked__class"></i><br>
  <a href="/user/profile">Complete your profile</a>
</div>

</a>
</div> <!-- end col-->

</div>


<div class="row relat__position">
<div class="col-lg-12">
  
  <a href="/portforlio-details" class="port__link">
<div class="card ">
<div class="row g-0 align-items-center">
<div class="col-md-2">
  <img src="../../../images/gallery/landscape7.jpg" class="card-img cardimg__extra" alt="...">

<!-- <div class="custom__bell">
   <i data-feather="bell"></i>
  <p>Comming Soon</p>
</div> -->
</div>
<div class="col-md-8">
  <div class="card-body">
    <h5 class="custom__title">Advanced Mutual Fund Portfolio</h5>
    <p class="card-text text-gray-600 custom__p">A growth portfolio providing access to selected top-tier growth equity and VC funds.</p>
   
    <div class="flex__container_custom">
      <div class="flexbox__custom">
        <h1>Portfolio Duration</h1>
        <p>12 months</p>
      </div>
      <div class="flexbox__custom">
        <h1>Return on investment</h1>
        <p>4.05% - 4.25%  Weekly</p>
      </div>
      <div class="flexbox__custom">
        <h1> Minimum Capital</h1>
        <p>$1000</p>
      </div>

    </div>
  </div> <!-- end card-body-->
 
</div> <!-- end col -->

</div> <!-- end row-->
</div> <!-- end card-->
<div class="right__image">
 <img src="../../../images/gallery/landscape7.jpg" class="card-img  image__right__img" alt="...">
</div>
<div class="port_locked">
  <p>Complete your profile to access portfolio fund details, webbinar, fund document and more</p>
    <i data-feather="lock" class="locked__class"></i><br>
  <a href="/user/profile">Complete your profile</a>
</div>

</a>
</div> <!-- end col-->

</div>


<div class="row relat__position">
<div class="col-lg-12">
  
  <a href="/portforlio-details" class="port__link">
<div class="card ">
<div class="row g-0 align-items-center">
<div class="col-md-2">
  <img src="../../../images/gallery/landscape3.jpg" class="card-img cardimg__extra" alt="...">

<!-- <div class="custom__bell">
   <i data-feather="bell"></i>
  <p>Comming Soon</p>
</div> -->
</div>
<div class="col-md-8">
  <div class="card-body">
    <h5 class="custom__title">Intermediate Mutual Fund Portfolio</h5>
    <p class="card-text text-gray-600 custom__p">A growth portfolio providing access to selected top-tier growth equity and VC funds.</p>
   
    <div class="flex__container_custom">
      <div class="flexbox__custom">
        <h1>Portfolio Duration</h1>
        <p>12 months</p>
      </div>
      <div class="flexbox__custom">
        <h1>Return on investment</h1>
        <p>4.05% - 4.25%  Weekly</p>
      </div>
      <div class="flexbox__custom">
        <h1> Minimum Capital</h1>
        <p>$1000</p>
      </div>

    </div>
  </div> <!-- end card-body-->
 
</div> <!-- end col -->

</div> <!-- end row-->
</div> <!-- end card-->
<div class="right__image">
 <img src="../../../images/gallery/landscape3.jpg" class="card-img  image__right__img" alt="...">
</div>
<div class="port_locked">
  <p>Complete your profile to access portfolio fund details, webbinar, fund document and more</p>
    <i data-feather="lock" class="locked__class"></i><br>
  <a href="/user/profile">Complete your profile</a>
</div>

</a>
</div> <!-- end col-->

</div>


</div>
<!-- end row-->

</section>
<!-- /.content -->
</div>
</div>
<!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer -->
        <%- include('../layouts/footer') %>
      </footer>
      
    <!-- Vendor JS -->
    <%- include('../layouts/script') %>
  </body>
  <script src="/js/bundle.js"></script>
  <!-- Mirrored from investx-admin-template.multipurposethemes.com/New_InvestX-main-files/html/template/vertical-light/main/extra_profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2023 23:01:34 GMT -->
</html>
