<!DOCTYPE html>
<html lang="en">
  <head>   <meta
      http-equiv="Content-Security-Policy"
      content="default-src *; script-src 'unsafe-inline' * 'self'; style-src 'unsafe-inline' * 'self'; img-src * data: 'self'; font-src * data: 'self';"
    /></head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header-->
        <%- include('../layouts/header') %>
      </header>

      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>

        <style>
          .p__title {
            font-size: 4rem;
          }
          .image__class {
            border-radius: 1rem;
          }
          .p__card {
            border: 0.1rem solid #ebebeb;

            padding: 0.5rem;
            margin-bottom: 1rem;

            border-radius: 1rem;
          }
          .mian__box {
            display: flex;
            align-items: flex-start;
            gap: 2rem;
          }
          .right__box {
            height: 30rem;
          }
        </style>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <section class="content">
            <div class="col-12 col-xl-12">
              <div class="card">
                <div class="card-body">
                  <!-- portfolioview.ejs -->

                  <section class="content">
                    <button
                      type="button"
                      class="waves-effect waves-light btn btn-dark mb-5"
                      onclick="goBack()"
                    >
                      <i class="fa fa-arrow-left"></i> Go Back
                    </button>
                    <div class="p__title">
                      <p><%= portfolio.portfolioTitle %></p>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card">
                          <img
                            src="/portfolio/<%= portfolio.imageName %>"
                            alt="<%= portfolio.imageName %>"
                            srcset=""
                            class="image__class"
                          />
                        </div>
                        <!-- end card-->
                      </div>
                      <!-- end col-->

                      <div class="col-md-4">
                        <div class="p__card_box">
                          <div class="p__card">
                            <h4>Minimum Capital:</h4>
                            <p><%= portfolio.minimumCapital %></p>
                          </div>
                          <div class="p__card">
                            <h4>Return on investment :</h4>
                            <p><%= portfolio.returnOnInvestment.rioPText %></p>
                          </div>
                          <div class="p__card">
                            <h4>Portfolio Duration:</h4>
                            <p><%= portfolio.duration %></p>
                          </div>
                        </div>

                        <!-- end card-->
                      </div>
                      <!-- end col-->

                      <div class="col-md-4">
                        <div class="card p-10">
                          <div>
                            <h4>Compounding Percentage:</h4>
                            <p><%= portfolio.compounding.cPText %></p>
                          </div>

                          <button
                            type="button"
                            id="buyButton"
                            class="waves-effect waves-light btn btn-outline btn-warning mb-5"
                          >
                            Buy now
                          </button>
                        </div>

                        <!-- end card-->
                      </div>
                      <!-- end col-->
                      <div>
                        <p style="width: 70%"><%= portfolio.description %></p>
                      </div>
                    </div>

                    <!-- Add more fields to display other portfolio details -->
                  </section>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <!-- //////////////// this is a modal -->

     <footer class="main-footer">
        <!-- footer-->
        <%- include('../layouts/footer') %>
      </footer>
    <script>
      function goBack() {
        window.history.back();
      }

      const buyButton = document.getElementById('buyButton');
      buyButton.addEventListener('click', () => {
        window.location.href = '/portfolio/buy-portfolio/<%= portfolio._id %>';
      });
    </script>
  </body>
</html>
