<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header -->
        <%- include('../layouts/header') %>
      </header>

      <aside class="main-sidebar">
        <!-- sidebar -->
        <%- include('../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <!-- Main content -->
          <section class="content">
            <div class="row">
              <div class="col-xl-9 col-12">
                <div class="box">
                  <div class="box-body pb-lg-0">
                    <div class="row">
                      <!-- portfolioedit.ejs -->

                      <form
                        action="/portfolio/update-portfolio/<%= portfolio._id %>"
                        method="POST"
                         enctype="multipart/form-data"
                      >
                        <!-- Form fields for editing the portfolio details -->
                        <!-- Replace the input values with the corresponding portfolio data -->
                        <div class="form-group">
                          <label for="title">Title</label>
                          <div class="input-group mb-3">
                            <input
                              id="title"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Title"
                              name="portfolioTitle"
                              value="<%= portfolio.portfolioTitle %>"
                              required
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="description">Description</label>
                          <div class="input-group mb-3">
                            <input
                              id="description"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Description"
                              name="description"
                              value="<%= portfolio.description %>"
                              required
                            />
                          </div>
                        </div>
                         <div class="form-group">
                          <div class="mb-3">
                            <label for="image" class="form-label">Image:</label>
                            <input
                              id="image"
                              type="file"
                              class="form-control ps-15"
                              name="image"
                             
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="minimumCapital">Minimum Capital</label>
                          <div class="input-group mb-3">
                            <input
                              id="minimumCapital"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Minimum Capital"
                              name="minimumCapital"
                              value="<%= portfolio.minimumCapital %>"
                              required
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="returnOnPercentage"
                            >Return on Percentage Text</label
                          >
                          <div class="input-group mb-3">
                            <input
                              id="returnOnPercentage"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Return on Percentage"
                              name="rioPText"
                              value="<%= portfolio.returnOnInvestment.rioPText %>"
                              required
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="returnOnPercentageNum"
                            >Return on Percentage Number</label
                          >
                          <div class="input-group mb-3">
                            <input
                              id="returnOnPercentageNum"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Return on Percentage"
                              name="rioPercentage"
                              value="<%= portfolio.returnOnInvestment.rioPercentage %>"
                              required
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="compoundingPercentage"
                            >Compounding Percentage Text</label
                          >
                          <div class="input-group mb-3">
                            <input
                              id="compoundingPercentage"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Percentage in text"
                              name="cPText"
                              value="<%= portfolio.compounding.cPText %>"
                              required
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="compoundingPercentageNum"
                            >Compounding Percentage Number</label
                          >
                          <div class="input-group mb-3">
                            <input
                              id="compoundingPercentageNum"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Compounding Percentage in Number"
                              name="cPercentage"
                              value="<%= portfolio.compounding.cPercentage %>"
                              required
                            />
                          </div>
                        </div>

                        <div class="form-group">
                          <label for="portfolioDuration"
                            >Portfolio Duration</label
                          >
                          <div class="input-group mb-3">
                            <input
                              id="portfolioDuration"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Portfolio Duration"
                              name="duration"
                              value="<%= portfolio.duration %>"
                            />
                          </div>
                        </div>

                        <!-- Add other form fields for other portfolio details -->

                        <div class="row">
                          <div class="col-12 text-left">
                            <button
                              type="submit"
                              class="waves-effect waves-light btn mb-5 bg-gradient-warning mt-10"
                            >
                              UPDATE
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.content -->
            </div>
          </section>
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer -->
        <%- include('../layouts/footer') %>
      </footer>
     

   
  
  </body>
</html>
