<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head') %>
  </head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header-->
        <%- include('../layouts/header') %>
      </header>

      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>

        <style>
          .p__title {
            font-size: 4rem;
          }
          .image__class {
            border-radius: 1rem;
          }
          .p__card {
            border: 0.1rem solid #ebebeb;

            padding: 0.5rem;
            margin-bottom: 1rem;

            border-radius: 1rem;
          }
          .mian__box {
            display: flex;
            align-items: flex-start;
            gap: 2rem;
          }
          .right__box {
            height: 30rem;
          }
        </style>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <section class="content">
            <div class="col-12 col-xl-12">
              <div class="card">
                <div class="card-body">
                  <!-- portfolioview.ejs -->

                  <section class="content">
                    <button
                      type="button"
                      class="waves-effect waves-light btn btn-dark mb-5"
                      onclick="goBack()"
                    >
                      <i class="fa fa-arrow-left"></i> Go Back
                    </button>
                    <div class="p__title">
                      <p><%= portfolio.title %></p>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card">
                          <img
                            src="/portfolio/<%= portfolio.imageName %>"
                            alt="<%= portfolio.imageName %>"
                            srcset=""
                            class="image__class"
                          />
                        </div>
                        <!-- end card-->
                      </div>
                      <!-- end col-->

                      <div class="col-md-4">
                        <div class="p__card_box">
                          <div class="p__card">
                            <h4>Minimum Capital:</h4>
                            <p><%= portfolio.minimumCapital %></p>
                          </div>
                          <div class="p__card">
                            <h4>Return On Investment:</h4>
                            <p><%= portfolio.returnOnInvestment %></p>
                          </div>
                          <div class="p__card">
                            <h4>Portfolio Duration:</h4>
                            <p><%= portfolio.portfolioDuration %></p>
                          </div>
                        </div>

                        <!-- end card-->
                      </div>
                      <!-- end col-->

                      <div class="col-md-4">
                        <div class="card p-10">
                          <div>
                            <h4>Weekly Earnings:</h4>
                            <p><%= portfolio.weeklyEarnings %></p>
                          </div>
                          <div>
                            <h4>Target Size:</h4>
                            <p><%= portfolio.targetSize %></p>
                          </div>
                          <div>
                            <h4>Reimbursement:</h4>
                            <p><%= portfolio.reimbursement %></p>
                          </div>

                          <% if (user && buyPortfolio && user.id ===
                          buyPortfolio.userId.toString() && portfolio.title ===
                          buyPortfolio.portfolioName) { %>
                          <a
                            href="/user/user-investments"
                            type="button"
                            id="buyButton"
                            class="waves-effect waves-light btn btn-outline btn-warning mb-5"
                          >
                            Go to Active Portfolio
                          </a>

                          <% } else { %>
                          <button
                            type="button"
                            id="buyButton"
                            class="waves-effect waves-light btn btn-outline btn-warning mb-5"
                          >
                            Buy now
                          </button>
                          <% } %>
                        </div>

                        <!-- end card-->
                      </div>
                      <!-- end col-->
                      <div>
                        <p><%= portfolio.description %></p>
                      </div>
                      <div class="col-md-8">
                        <div class="tab-content">
                          <div
                            class="tab-pane show active"
                            id="bordered-tabs-preview"
                          >
                            <ul class="nav nav-tabs nav-bordered mb-3">
                              <li class="nav-item">
                                <a
                                  href="#home-b1"
                                  data-bs-toggle="tab"
                                  aria-expanded="false"
                                  class="nav-link active"
                                >
                                  <span class="d-none d-md-block"
                                    >WHY WE INVEST</span
                                  >
                                </a>
                              </li>
                              <li class="nav-item">
                                <a
                                  href="#profile-b1"
                                  data-bs-toggle="tab"
                                  aria-expanded="true"
                                  class="nav-link"
                                >
                                  <span class="d-none d-md-block"
                                    >ABOUT THE MANAGER</span
                                  >
                                </a>
                              </li>
                              <li class="nav-item">
                                <a
                                  href="#settings-b1"
                                  data-bs-toggle="tab"
                                  aria-expanded="false"
                                  class="nav-link"
                                >
                                  <span class="d-none d-md-block"
                                    >HOW IT WORKS</span
                                  >
                                </a>
                              </li>
                            </ul>

                            <div class="tab-content px-20">
                              <div class="tab-pane active" id="home-b1">
                                <p class="text-fade">
                                  Leggings occaecat dolor sit amet, consectetuer
                                  adipiscing elit. Aenean commodo ligula eget
                                  dolor. Aenean massa. Cum sociis natoque
                                  penatibus et magnis dis parturient montes,
                                  nascetur ridiculus mus. Donec quam felis,
                                  ultricies nec, pellentesque eu, pretium quis,
                                  sem. Nulla consequat massa quis enim.
                                </p>
                                <p class="mb-0 text-fade">
                                  Donec pede justo, fringilla vel, aliquet nec,
                                  vulputate eget, arcu. In enim justo, rhoncus
                                  ut, imperdiet a, venenatis vitae, justo.
                                  Nullam dictum felis eu pede mollis pretium.
                                  Integer tincidunt.Cras dapibus. Vivamus
                                  elementum semper nisi. Aenean vulputate
                                  eleifend tellus. Aenean leo ligula, porttitor
                                  eu, consequat vitae, eleifend ac, enim.
                                </p>
                              </div>
                              <div class="tab-pane show" id="profile-b1">
                                <p class="text-fade">
                                  Donec pede justo, fringilla vel, aliquet nec,
                                  vulputate eget, arcu. In enim justo, rhoncus
                                  ut, imperdiet a, venenatis vitae, justo.
                                  Nullam dictum felis eu pede mollis pretium.
                                  Integer tincidunt.Cras dapibus. Vivamus
                                  elementum semper nisi. Aenean vulputate
                                  eleifend tellus. Aenean leo ligula, porttitor
                                  eu, consequat vitae, eleifend ac, enim.
                                </p>
                                <p class="mb-0 text-fade">
                                  Leggings occaecat dolor sit amet, consectetuer
                                  adipiscing elit. Aenean commodo ligula eget
                                  dolor. Aenean massa. Cum sociis natoque
                                  penatibus et magnis dis parturient montes,
                                  nascetur ridiculus mus. Donec quam felis,
                                  ultricies nec, pellentesque eu, pretium quis,
                                  sem. Nulla consequat massa quis enim.
                                </p>
                              </div>
                              <div class="tab-pane" id="settings-b1">
                                <p class="text-fade">
                                  Food truck quinoa dolor sit amet, consectetuer
                                  adipiscing elit. Aenean commodo ligula eget
                                  dolor. Aenean massa. Cum sociis natoque
                                  penatibus et magnis dis parturient montes,
                                  nascetur ridiculus mus. Donec quam felis,
                                  ultricies nec, pellentesque eu, pretium quis,
                                  sem. Nulla consequat massa quis enim.
                                </p>
                                <p class="mb-0 text-fade">
                                  Donec pede justo, fringilla vel, aliquet nec,
                                  vulputate eget, arcu. In enim justo, rhoncus
                                  ut, imperdiet a, venenatis vitae, justo.
                                  Nullam dictum felis eu pede mollis pretium.
                                  Integer tincidunt.Cras dapibus. Vivamus
                                  elementum semper nisi. Aenean vulputate
                                  eleifend tellus. Aenean leo ligula, porttitor
                                  eu, consequat vitae, eleifend ac, enim.
                                </p>
                              </div>
                            </div>
                          </div>
                          <!-- end preview-->

                          <div class="tab-pane" id="bordered-tabs-code">
                            <!-- end highlight-->
                          </div>
                          <!-- end preview code-->
                        </div>
                      </div>
                    </div>

                    <!-- Add more fields to display other portfolio details -->
                  </section>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <!-- //////////////// this is a modal -->

      <footer class="main-footer">
        <!-- footer-->
        <%- include('../layouts/footer') %>
      </footer>
      <!-- Side panel -->
      <!-- quick_user_toggle -->
      <div class="modal modal-right fade" id="quick_user_toggle" tabindex="-1">
        <!-- user profile -->
        <%- include('../layouts/right') %>
      </div>
      <!-- /quick_user_toggle -->

      <!-- Control Sidebar -->
      <%- include('../layouts/sidebar') %>
    </div>
    <script>
      function goBack() {
        window.history.back();
      }

      const buyButton = document.getElementById('buyButton');
      buyButton.addEventListener('click', () => {
        window.location.href = '/portfolio/buy-portfolio/<%= portfolio._id %>';
      });
    </script>
    <!-- <%- include('../layouts/script') %> -->
    <script src="js/pages/data-table.js"></script>

    <!-- JavaScript code for deleting a portfolio -->
  </body>
</html>
