<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head and meta-->
    <%- include('../layouts/head') %>
  </head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header-->
        <%- include('../layouts/header') %>
      </header>

      <aside class="main-sidebar">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">
          <!-- Main content -->
          <section class="content">
            <div class="row">
              <div class="col-xl-7 col-7">
                <div class="box">
                  <div class="box-body pb-lg-0">
                    <div class="row">
                      <form
                        action="/portfolio/create-portfolio"
                        method="POST"
                        enctype="multipart/form-data"
                      >
                        <div class="form-group">
                          <div class="mb-3">
                            <label for="title" class="form-label">Title:</label>
                            <input
                              id="title"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Title"
                              name="portfolioTitle"
                              required
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3">
                            <label for="description" class="form-label"
                              >Description:</label
                            >
                            <input
                              id="description"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Description"
                              name="description"
                              required
                            />
                          </div>
                        </div>
                        <!-- Add the file input field for image upload -->
                        <div class="form-group">
                          <div class="mb-3">
                            <label for="image" class="form-label">Image:</label>
                            <input
                              id="image"
                              type="file"
                              class="form-control ps-15"
                              name="image"
                              required
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3">
                            <label for="minimumCapital" class="form-label"
                              >Minimum Capital:</label
                            >
                            <input
                              id="minimumCapital"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Minimum Capital"
                              name="minimumCapital"
                              required
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3">
                            <label for="rioPText" class="form-label"
                              >Percentage in Text (Return on Investment):</label
                            >
                            <input
                              id="rioPText"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Percentage in text"
                              name="rioPText"
                              required
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3">
                            <label for="rioPercentage" class="form-label"
                              >Percentage in Number (Return on
                              Investment):</label
                            >
                            <input
                              id="rioPercentage"
                              type="number"
                              step="any"
                              class="form-control ps-15"
                              placeholder="Percentage in Number"
                              name="rioPercentage"
                              required
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3">
                            <label for="cPText" class="form-label"
                              >Percentage in Text (Compounding):</label
                            >
                            <input
                              id="cPText"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Percentage in text"
                              name="cPText"
                              required
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3">
                            <label for="cPercentage" class="form-label"
                              >Compounding Percentage in Number:</label
                            >
                            <input
                              id="cPercentage"
                              type="number"
                              step="any"
                              class="form-control ps-15"
                              placeholder="Compounding Percentage in Number"
                              name="cPercentage"
                              required
                            />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3">
                            <label for="duration" class="form-label"
                              >Portfolio Duration:</label
                            ><br />
                            <input
                              id="duration"
                              type="text"
                              class="form-control ps-15"
                              placeholder="Portfolio Duration"
                              name="duration"
                              required
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <button
                              type="submit"
                              class="waves-effect waves-light btn mb-5 bg-gradient-warning mt-10"
                            >
                              SUBMIT
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.content -->
            </div>
          </section>
        </div>
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <!-- footer-->
        <%- include('../layouts/footer') %>
      </footer>
      <!-- Side panel -->
      <!-- quick_user_toggle -->
      <div class="modal modal-right fade" id="quick_user_toggle" tabindex="-1">
        <!-- user profile -->
        <%- include('../layouts/right') %>
      </div>
      <!-- /quick_user_toggle -->

      <!-- Control Sidebar -->
      <%- include('../layouts/sidebar') %>
    </div>
    <!-- Vendor JS -->
    <script src="/js/vendors.min.js"></script>
    <script src="/js/pages/chat-popup.js"></script>
    <script src="/assets/icons/feather-icons/feather.min.js"></script>
    <script src="/assets/icons/feather-icons/feather.min.js"></script>
    <script src="/assets/icons/feather-icons/feather.min.js"></script>
    <script src="/assets/vendor_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
    <script src="/assets/vendor_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/assets/vendor_components/select2/dist/js/select2.full.js"></script>
    <script src="/assets/vendor_plugins/input-mask/jquery.inputmask.js"></script>
    <script src="/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="/assets/vendor_components/moment/min/moment.min.js"></script>
    <script src="/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="/assets/vendor_plugins/iCheck/icheck.min.js"></script>
    <!-- InvestX pp -->
    <script src="/js/demo.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/pages/advanced-form-element.js"></script>
  </body>
</html>
