<!DOCTYPE html>
<html lang="en">
  <head> </head>

  <body class="hold-transition light-skin sidebar-mini theme-primary fixed">
    <div class="wrapper">
      <!-- <div id="loader"></div> -->

      <header class="main-header">
        <!-- header-->
        <%- include('../layouts/header') %>
      </header>

      <aside class="main-sidebar" style="border-right: 1px solid #cbcbcb">
        <!-- sidebar-->
        <%- include('../layouts/aside') %>
      </aside>

      <div
        class="content-wrapper bg-white"
        style="border-radius: 0; border-top: 1px solid #cbcbcb"
      >
        <div class="container mt-30">
          <img
            src="/images/header/Portfolios_Status_Web.png"
            alt="refaral"
            srcset=""
          />
          <section class="content">
            <h2 class="title fw-600"><%= title %></h2>
            <div class="col-12 col-xl-12">
              <div class="mt-20" style="border: 1px solid #cbcbcb">
                <div class="card-body">
                  <table class="table table-striped b-1 border-gray-700">
                    <thead class="bg-dark">
                      <tr class="p-10">
                        <th style="width: 30%; border-right: #fff2f2 1px solid">
                          User Name
                        </th>
                        <th style="width: 30%; border-right: #fff2f2 1px solid">
                          Portfolio Name
                        </th>
                        <th style="width: 30%; border-right: #fff2f2 1px solid">
                          Date of Purchase
                        </th>

                        <th style="width: 10%">Status</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% userObjects.forEach((item) => { %> <% if
                      (!item.userDetails.portfolioName ||
                      item.userDetails.portfolioName.trim() === '') { %>
                      <tr>
                        <td colspan="4" style="text-align: center">
                          No Status Portfolio
                        </td>
                      </tr>
                      <% } else { %>
                      <tr>
                        <td style="border-right: #d1d1d1 1px solid">
                          <%= item.userProfile.firstName +
                          item.userProfile.middleName +
                          item.userProfile.lastName %>
                        </td>
                        <td style="border-right: #d1d1d1 1px solid">
                          <%= item.userDetails.portfolioName %>
                        </td>
                        <td style="border-right: #d1d1d1 1px solid">
                          <%= new
                          Date(item.userDetails.dateOfPurchase).toLocaleDateString('en-US',
                          { month: 'short', day: 'numeric', year: 'numeric', })
                          %>
                        </td>
                        <td class="table-action min-w-100">
                          <button
                            id="<%= item.userDetails._id %>"
                            type="button"
                            class="btn btn-sm btn-toggle <%= item.userDetails.status === 'active' ? 'btn-success active' : 'btn-warning-light' %>"
                            data-bs-toggle="button"
                            aria-pressed="<%= item.userDetails.status === 'active' ? 'true' : 'false' %>"
                          >
                            <span class="handle"></span>
                          </button>
                        </td>
                      </tr>
                      <% } %> <% }) %>
                    </tbody>
                  </table>

                  <div
                    class="dataTables_paginate paging_simple_numbers align-right"
                    id="example_paginate"
                  >
                    <ul class="pagination mb-0 m-10">
                      <li
                        class="paginate_button page-item previous <%= currentPage === 1 ? 'disabled' : '' %>"
                        id="example_previous"
                      >
                        <a
                          href="?page=<%= currentPage - 1 %>"
                          aria-controls="example"
                          tabindex="0"
                          class="page-link"
                          >Previous</a
                        >
                      </li>

                      <% for (let i = 1; i <= totalPages; i++) { %>
                      <li
                        class="paginate_button page-item <%= i === currentPage ? 'active' : '' %>"
                      >
                        <a
                          href="?page=<%= i %>"
                          aria-controls="example"
                          tabindex="0"
                          class="page-link"
                          ><%= i %></a
                        >
                      </li>
                      <% } %>

                      <li
                        class="paginate_button page-item next <%= currentPage === totalPages ? 'disabled' : '' %>"
                        id="example_next"
                      >
                        <a
                          href="?page=<%= currentPage + 1 %>"
                          aria-controls="example"
                          tabindex="0"
                          class="page-link"
                          >Next</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <script>
      const buttons = document.querySelectorAll('.btn-toggle');
      buttons.forEach(button => {
        button.addEventListener('click', () => {
          const userId = button.id;
          const currentStatus =
            button.getAttribute('aria-pressed') === 'true'
              ? 'inactive'
              : 'active';
          toggleStatus(userId, currentStatus, button);
        });
      });

      function toggleStatus(userId, currentStatus, button) {
        const newStatus = currentStatus === 'inactive' ? 'active' : 'active';
        const currentDate = new Date();
        const dateOfExpiry = new Date(currentDate);
        dateOfExpiry.setMonth(dateOfExpiry.getMonth() + 12);

        const updatedData = {
          status: newStatus,
          dateOfPurchase: currentDate,
          dateOfExpiry: dateOfExpiry,
        };

        fetch(`/portfolio/buyportfolio/${userId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(updatedData),
        })
          .then(response => response.json())
          .then(data => {
            // Handle the response or perform any necessary actions
            console.log(data);
            console.log(`Status before update: ${currentStatus}`);
            console.log(`Status after update: ${data.portfolio.status}`);
            // Check if the status was changed successfully
            if (data.message === 'Status updated successfully') {
              // Update the button state to reflect the new status
              location.reload();
              button.setAttribute(
                'aria-pressed',
                newStatus === 'active' ? 'true' : 'false'
              );
              button.classList.toggle('active', newStatus === 'active');
            } else {
              // Handle the error or display an error message
              console.error('Failed to update status');
            }
          })
          .catch(error => {
            // Handle the error or display an error message
            console.error(error);
          });
      }
    </script>

    <footer class="main-footer bg-white">
      <!-- footer-->
      <%- include('../layouts/footer') %>
    </footer>
  </body>
</html>
